
/* Global root values */
:root {
  --ff-m: "Inter"; /* Main font family */
  --ff-mf: sans-serif; /* Main fallback font */

  --ff-main: var(--ff-m), var(--ff-mf); /* Main font with fallback*/
  --main-radius: 4px;
}

body {
  --bgc: #f0f0f0;
  --bgc-shade: #e6e6e6;
  --bgc-tint: #fff;
  --c: #1c1c1c;
  --primary: #48486f;
  --primary-shade: #3a3a59;
  --primary-tint: #5a5a8b;
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 300;
  color: var(--c);
  background-color: var(--bgc);
}
header{
  position: sticky;
  top:0;
}
footer {
  position: fixed;
  bottom:0;
}
header,
footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap:1rem;
  width: 100%;
  padding:.3rem;
  
}
.nav-menu-list,
.nav-social-list{
  margin:0;
  padding:0;
  gap: .8rem;
}
.footer-info{
  flex-grow: 1;
  align-items: flex-end;
  gap: .8rem;
  font-size: .8rem;
  color: var(--c);
}
a.powered-link{
  text-decoration: none;
  color:var(--c);
}
.pi{
  font-size: .7rem;
  color: var(--primary-tint);
}
.svg-logo-icon {
  width: 5rem;
  height: 2.5rem;
  fill: var(--primary);
}
.svg-nav-icon{
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--primary-shade);
}
/* DEBUG */
.b1 {
  border: 2px solid red;
}
.b2 {
  border: 2px solid darkgreen;
}
.b3 {
  border: 2px solid darkblue;
}
.bg1 {
  background-color: red;
}
.bg2 {
  background-color: darkgreen;
}
.bg3 {
  background-color: darkblue;
}
