@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../static/fonts/InterVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("../static/fonts/InterVariable-Italic.woff2") format("woff2");
  }
  body {
    font-feature-settings:
      "ss01" 1,
      "ss02" 1,
      "ss03" 1,
      "cv05" 1,
      "cv06" 1,
      "cv11" 1;
  }
}
/* TOC Styles */
#TableOfContents {
  max-height: 60vh;
  overflow-y: auto;
  margin-bottom: 5rem;
  ul {
    border-left: 2px solid #fcfcfc;
  }

  li {
    position: relative;
    margin: 0.8rem 0;
  }

  li::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background-color: #fcfcfc;
  }

  li:hover::before {
    width: 2px;
    left: -2px;
    background-color: #54785b;
  }
  a {
    display: block;
    width: 100%;
    font-weight: 300;
    padding-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    color: #1f2937;
  }
  a:hover {
    color: #030712;
  }
}
/* Markdown Content */
#content {
  p:first-of-type,
  h2 + p {
    text-indent: 1.5rem;
  }
  p:not(:first-of-type) {
    margin: 1rem 0;
  }
  h2 {
    font-size: 1.125rem;
    font-weight: 300;
    margin: 2rem 0 0 0;
    color: #1f2937;
  }
  h3 {
    font-size: 1rem;
    font-weight: 300;
    margin: 1.5rem 0 0 1rem;
  }
  h4,
  h5 {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 1rem 0 0 1.5rem;
  }
  a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  a:link {
    color: #030712;
  }

  a:visited {
    color: #111827;
  }

  a:hover {
    text-decoration-thickness: 2px;
    color: #374151;
  }

  a:focus {
    border-radius: 3px;
    padding-bottom: 2px;
  }

  a:active {
    text-decoration: none;
    color: #374151;
  }

  a::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23374151" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>');
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
    left: 2px;
  }
  a[target="_blank"]::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23374151" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>');
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
    left: 2px;
  }
  ul,
  ol {
    margin: 1rem 2rem;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul li::marker,
  ol li::marker {
    color: #374151;
  }
  ol li::marker {
    font-size: 0.8rem;
  }
  strong,
  b {
    font-weight: 500;
    color: #030712;
  }
  em,
  i {
    font-style: italic;
  }
  code {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: monospace;
    color: #030712;
  }
  s {
    text-decoration-color: #702937;
    text-decoration-thickness: 2px;
    color: #4b5563;
  }
  del {
    background-color: #702937;
    color: #f9fafb;
    padding: 0 3px;
    text-decoration: none;
    border-radius: 2px;
  }
  del:before {
    content: "\2212  \007C";
    padding: 0 3px;
    color: #fff;
  }
  ins {
    background-color: #1a4723;
    color: #f9fafb;
    padding: 0 3px;
    text-decoration: none;
    border-radius: 2px;
  }
  ins:before {
    content: "\002B  \007C";
    padding: 0 3px;
    color: #fff;
  }
  small {
    font-size: 0.7rem;
  }
  sup,
  sub {
    font-weight: 600;
    color: #3b000c;
    margin-left: 1px;
  }
  u {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    text-decoration-color: #374151;
  }
  mark {
    padding: 0 3px;
    border-radius: 2px;
    background-color: #ffff00;
    border: 1px solid #ffff00;
  }
  cite {
    font-style: italic;
    color: #374151;
    font-size: 1em;
  }
  blockquote {
    margin: 2rem 0;
    border-left: 2px solid #54785b;
    font-size: 1.1em;
    font-weight: 300;
    color: #030712;
    padding: 0.5rem 0 0.3rem 0.5rem;
  }

  blockquote > p:first-of-type {
    text-indent: unset;
  }
  blockquote > cite {
    font-size: 0.8em;
  }
  hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #9ca3af, #e5e7eb);
    border-radius: 2px;
  }
}
