.oxy-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.logo {
  font-size: 1.5rem;
  line-height: 1;
  pointer-events: none;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  width: 3rem;
  height: 3rem;
  padding: .2rem;
  font-size: .6rem;
  text-decoration: none;
  color: var(--c);
  border: .1rem solid var(--bgc);
  border-radius: var(--br);
}
.nav-link:hover {
  border: .1rem solid var(--c);
}