
/* FOOTER */
.oxy-footer {
  margin: 1rem 0 .3rem 0;
  width: calc(100% - .3rem);
}
.index-footer{
  align-items: flex-end;
}
.motto{
  width: 100%;
  margin-bottom:.3rem;
  padding:.3rem 0;
  font-size:.95rem;
  font-weight:300;
  font-style: italic;
  color: var(--primary-shade);
  text-align: center;
  border-bottom: 1px solid var(--primary)
}

.powered{
  font-size: .8rem;
}
.powered a{
  color:var(--c);
  text-decoration: none;
}
.pi {
  font-size: .7rem;
  color:var(--primary);
}