.card-link{
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
  text-decoration: none;
  color: var(--c);
  border: .1rem solid var(--bgc);
  border-radius: var(--br);
}
.card-link:hover{
  -webkit-tap-highlight-color: transparent;
  border: .1rem solid var(--bgc);
  border-radius: var(--br);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
box-shadow: 1px -1px 2px 1px rgba(0, 0, 0, 0.2), 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}
.recent-h1 {
  font-size: 3.5rem;
  font-weight: 200;
  margin-block: 1rem;
}
.parts {font-size: 2rem;}
.recent-date{
  font-size: .8rem;
}