/* LARGE RESOLUTIONS (SMALL CHROMEBOOKS UNTIL TV's) */

.body-grid {
  grid: auto / auto 5fr;
  gap:5rem;
  min-width: 1025px;
}

.oxy-header {
  grid-area: 1/1/1/1;
  height:100vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--light-shade-color);
}
.oxy-main {
  grid-area:1/2/1/2;
}
.oxy-footer {
  grid-area: 2/2/2/2;
  width: 100%;
  height: 300px;
}
.nav-btn{ display: none !important;}
.nav-large {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.lang-icon {color: var(--accent-color)}
a.lang-link {
  margin: .5rem;
  text-decoration: none;
  font-size: 1rem;
  color: var(--accent-color);
}
a.lang-link:hover {
 color: var(--accent-shade-color);
}
.btn-scheme {
  margin: .5rem;
  padding: .5rem;
  background-color: var(--light-shade-color);
  border:0;
  border-radius: 50%;
}
.btn-scheme:hover{
  background-color: var(--bg-color);
  color: var(--accent-shade-color);
}
.icon-brightness_4 {
  font-size: 1.3rem;
  color: var(--accent-color);
}
.nav-menu {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-copy {
  margin: .5rem;
  font-size: .7rem;
}
.nav-list-item-menu {
  margin: 1rem .5rem;
}
a.nav-link {
  padding: .8rem;
  flex-direction: column;
  font-size: .7rem;
  text-decoration: none;
  color: var(--accent-color);
}
a.nav-link:hover{
  
  background-color: var(--bg-color);
  border: 0;
  border-radius: 50%;
 color: var(--accent-shade-color);
}
.nav-icon {
  font-size: 2.1rem;
  color: var(--accent-color);
}
.nav-icon-secondary {
  font-size: 1.5rem;
  color: var(--accent-color);
}
.nav-icon:hover,
.nav-icon-secondary:hover{
  color: var(--accent-shade-color);
}

.nav-list-item-social {
  margin-left:.5rem;
  margin-right: .5rem;
}