.oxy-wrap {
  grid: auto / 1fr 3fr;
  gap: .5rem;
  min-height: 100vh;
}
.oxy-header {
  grid-area: 1/1/4/1;
  padding: .5rem;
  background-color: var(--bg-shade-color);  
}
.oxy-main {
  grid-area: 1/2/3/2;
}
.oxy-footer {
  grid-area: 3/2/3/2;
}

.header {
position: sticky;
  top:0;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.header-menu {
  height: 90vh;
}
.header a {
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.lang-icon {
  font-size: 1.2rem;
  color: var(--accent-color);
}
a.lang-link {
  margin: .5rem;
  font-size: .9rem;
  line-height: 1;
  color: var(--text-color);
}

.scheme {
  margin: 1rem 0;
}
.btn-scheme {
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  background-color: unset;
  border:none;
  border-radius: 50%;
}
.scheme-icon {
  color: var(--accent-color);
}
.nav-menu {
  justify-content: space-between;
  flex: 3 0;
}
.nav-list-item-menu {
  margin: 1rem 0;
}
a.nav-link {
  font-size: .7rem;
  color: var(--accent-color);
}
.nav-icon {
  font-size: 1.7rem;
}
.nav-icon-sec {
  font-size: 1.4rem
}
.nav-list-item-social {
  margin: 1rem .5rem;
}
.header-copy {
  font-size: .7rem;
}
.header-sig {
  background-image: url(../img/oxypteros.svg);
  background-size: contain;
  background-position: center;
  height: 1.8rem;
  width: 4rem;
}