/* Variable local woff2 font */
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: local(""),
    url("../fonts/Inter-roman.var.woff2") format("woff2-variations");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: local(""),
    url("../fonts/Inter-italic.var.woff2") format("woff2-variations");
}
/* Global root values */
:root {
  --ff-m: "Inter"; /* Main font family */
  --ff-mf: sans-serif; /* Main fallback font */

  --ff-main: var(--ff-m), var(--ff-mf); /* Main font with fallback*/
  --main-radius: 3px;
}
/* Oxy theme specific values (LIGHT, default) */
:root[oxy-theme="light"] {
  --bgc: #f0f0f0;
  --bgc-shade: #e6e6e6;
  --bgc-ting: #fff;
  --c: #1c1c1c;
  --primary: #48486f;
  --primary-shade: #3a3a59; /* BACKUP #343450*/
  --primary-tint: #5a5a8b;
}

/* Oxy theme specific values (DARK) */
:root[oxy-theme="dark"] {
  --bgc: #1f1f1f;
  --bgc-shade: #272727;
  --bgc-tint: #191919;
  --c: #f0f0f0;
  --primary: #b9b9ac;
  --primary-shade: #f5fffa;
  --primary-tint: #e7e7e3;
}

body {
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 300;
  color: var(--c);
  background-color: var(--bgc);
}

/* 
* OxyBoil utility classes 
*/
.hidden {
  display: none !important;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
* END: OxyBoil utility classes 
*/

/*
* Oxy. Layout
*/
.oxy-grid {
  grid: auto / auto minmax(300px, 1200px) auto;
}
.oxy-wrap {
  grid-area: 1/2/1/2;
  grid: auto / auto 3fr;
}
/*
* END: Oxy. Layout
*/

/* DEBUG */
.b1 {
  border: 2px solid red;
}
.b2 {
  border: 2px solid darkgreen;
}
.b3 {
  border: 2px solid darkblue;
}
.bg1 {
  background-color: red;
}
.bg2 {
  background-color: darkgreen;
}
.bg3 {
  background-color: darkblue;
}
