/* Hide bottom nav bar from large screens */
.nav-small,
.nav-medium {
  display: none !important
}

/* Index Header - Large */
  .h1-title {
    font-size: 6rem;
    margin:  0 1.5rem;
    padding-left: 1.5rem;
  }
  .h2-subtitle {
    font-size: 2rem;
    margin: 0 1.5rem;
  }

/* Index article - Large */
  main { margin-bottom: 7rem; }

/* Index rooms - Large */
.rooms {
  margin: 5rem 1.5rem;
}
.card-wrap {
  gap:4rem;
}
  .h2-rooms {
    font-size: 3rem;
    text-align: center;
  }
  .room-title {
    font-size: 2rem;
    margin: 2rem auto .8rem auto;
  }
  .capacity{ margin: .8rem 1rem;}
  .icon-users,
  .icon-user {
    font-size: 1.5rem;
    color: var(--accent-color);
  }
  .helicon-card {
    background-image: url(../img/helicon-large.webp);
    width: 400px;
    height: 400px;
    border-radius: 2rem;
  }
  .parnassos-card {
    background-image: url(../img/parnassus-large-soon.webp);
    width: 400px;
    height: 400px;
    border-radius: 2rem;
  }
/* Nav Bar- Large */
  .nav-links {
    gap: 2rem;
    margin: 1rem;
  }
  .nav-button-large {
    gap:.5rem;
  }
  .icon-menu,
  .icon-map-pin,
  .icon-map,
  .icon-mail,
  .icon-x {
    font-size: 2rem;
  }
  .nav-button-text {
    font-size: 1rem;
  }
  .nav-menu-large {
    border-top: .4rem solid var(--accent-color);
  }
  .nav-menu-btns {
    margin: 1rem 0;
  }
  a.btn {
    font-size: 1.5rem;
    font-weight:200;
    padding: .2rem .8rem .3rem .8rem;
    border: 1px solid var(--text-color);
    border-radius: .5rem;
  }
