/* Hide bottom nav bar from large screens */
.nav-small,
.nav-medium {
  display: none !important
}

/* Index Header - Large */
  .h1-title {
    font-size: 6rem;
    margin:  0 1.5rem;
    padding-left: 1.5rem;
  }
  .h2-subtitle {
    font-size: 2rem;
    margin: 0 1.5rem;
  }

/* Nav Bar- Large */
  .nav-links {
    gap: 2rem;
    margin: 1rem;
  }
  .nav-button-large {
    gap:.5rem;
  }
  .icon-menu,
  .icon-map-pin,
  .icon-map,
  .icon-mail{
    font-size: 2rem;
  }
  .nav-button-text {
    font-size: 1rem;
    
  }
