/* Hide bottom nav bar from medium screens */
.nav-small,
.nav-large {
  display: none !important
}

/* Index Header - Medium */
.h1-title {
  font-size: 3rem;
  margin: 0 1rem;
  padding-left: 1rem;
}
.h2-subtitle {
  font-size: 1.5rem;
  margin: 0 1.2rem;
}

/* Index article - Medium */
main { margin-bottom: 6rem; }

/* Index rooms - Medium */
.rooms {
  margin: 5rem 1rem;
}
.card-wrap {
  gap:2rem;
}
  .h2-rooms {
    font-size: 2rem;
    text-align: center;
  }
  .room-title {
    font-size: 1.8rem;
    margin: 1.8rem auto .7rem auto;
  }
  .capacity{ margin: .7rem 1rem;}
  .icon-users,
  .icon-user {
    font-size: 1.4rem;
    color: var(--accent-color);
  }
.helicon-card {
  background-image: url(../img/helicon-medium.webp);
  width: 350px;
  height: 350px;
  border-radius: 1.5rem;
}
.parnassos-card {
  background-image: url(../img/parnassus-medium-soon.webp);
  width: 350px;
  height: 350px;
  border-radius: 1.5rem;
}
/* Nav Bar- Medium */
.nav-links {
  justify-content: center;
  gap: 1.5rem;
  margin: .8rem;
}
.nav-button-medium {
  flex-direction: column;
  gap:.3rem;
}
.bar-icon-menu,
.bar-icon-map-pin,
.bar-icon-map,
.bar-icon-mail,
.nav-icon-x {
  font-size: 1.5rem;
}
.nav-button-text {
  font-size: 1rem;
}
.nav-menu-medium {
  border-top: .35rem solid var(--accent-color);
}
.nav-menu-btns {
  margin: 1rem .7rem;
}
a.btn {
  font-size: 1.3rem;
  font-weight: 200;
  padding: .2rem .6rem .3rem .6rem;
  border: 1px solid var(--text-color);
  border-radius: .5rem;
}