/* Hide bottom nav bar from small screens */
.nav-medium,
.nav-large {
  display: none !important
}
/* Index Header - Small */
  .h1-title{
    font-size: 2.5rem;
    margin: 0 .5rem;
    padding-left: .5rem;
  }
  .h2-subtitle {
    font-size: 1.2rem;
    margin: 0 .7rem;
  }

/* Index article - Small */
main { 
  margin-bottom: 5rem; 
}
.article-content {
  margin: 0 .5rem;
}

/* Index rooms - Small */
.rooms {
  margin: 4rem .5rem;
}
.card-wrap {
  gap:2rem;
}
  .h2-rooms {
    font-size: 2rem;
  }
  .room-title {
    font-size: 1.5rem;
    margin: 1.5rem auto .5rem  auto;
  }
  .capacity{ margin: .5rem;}
  .icon-users,
  .icon-user {
    font-size: 1.2rem;
    color: var(--accent-color);
  }
  .helicon-card {
    background-image: url(../img/helicon-small.webp);
    width: 300px;
    height: 300px;
    border-radius: 1rem;
  }
  .parnassos-card {
    background-image: url(../img/parnassus-small-soon.webp);
    width: 300px;
    height: 300px;
    border-radius: 1rem;
  }

/* Nav Bar - Small */
  .nav-links {
    justify-content: center;
    gap: 1rem;
    margin: .5rem;
  }
  .nav-button-small {
    flex-direction: column;
    gap:.2rem;
  }
  .bar-icon-menu,
  .bar-icon-map-pin,
  .bar-icon-map,
  .bar-icon-mail,
  .nav-icon-x {
    font-size: 1.5rem;
  }
  .nav-button-text {
    font-size: .6rem;
  }
  .nav-menu-small {
    border-top: .2rem solid var(--accent-color);
  }
  .nav-menu-btns {
    margin: 1rem .5rem;
  }
  a.btn {
    font-size: 1.2rem;
    font-weight: 200;
    padding: .2rem .5rem .3rem .5rem;
    border: 1px solid var(--text-color);
    border-radius: .5rem;
  }