/* Page Cover - Small */
.page-wrap {
  height: calc(95vh - 5rem);
}
  .h1-title{
    font-size: 3rem;
    margin: 3rem .5rem;
  }

  a.go-arrow {

    font-size: 2rem;
  }

/* NAV BAR (Bottom) - Small Screens*/
  .nav-links {
    justify-content: center;
    gap: 1rem;
    margin: .5rem;
  }
  .nav-button-small {
    flex-direction: column;
    gap:.5rem;
  }
  .icon-menu,
  .icon-map-pin,
  .icon-map,
  .icon-mail{
    font-size: 1.5rem;
  }
  .nav-button-text {
    font-size: .6rem;
  }
  
/* hide bottom nav bar from small screens */
.nav-large {
  display: none !important
}
