/* Hide bottom nav bar from small screens */
.nav-medium,
.nav-large {
  display: none !important
}
/* Index Header - Small */
  .h1-title{
    font-size: 2.5rem;
    margin: 0 .5rem;
    padding-left: .5rem;
  }
  .h2-subtitle {
    font-size: 1.2rem;
    margin: 0 .7rem;
  }

/* Nav Bar - Small */
  .nav-links {
    justify-content: center;
    gap: 1rem;
    margin: .5rem;
  }
  .nav-button-small {
    flex-direction: column;
    gap:.5rem;
  }
  .icon-menu,
  .icon-map-pin,
  .icon-map,
  .icon-mail{
    font-size: 1.5rem;
  }
  .nav-button-text {
    font-size: .6rem;
  }