/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*! alpha.css - HTML Edition - v.0.0.1 | MIT License | oxypteros.com © 2022 !*/
@font-face {
	font-family: 'Roboto Flex';
	src: local('Roboto Flex'),
	      url('../fonts/RobotoFlex.woff2') format('woff2'),
	      url('../fonts/RobotoFlex.woff') format('woff'),
        url('../fonts/RobotoFlex.ttf') format('truetype');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
  font-style: oblique -10deg 0deg;
  font-display: swap;
}
@font-face {
	font-family: 'Comfortaa';
	src: local('Comfortaa'),
	      url('../fonts/Comfortaa.woff2') format('woff2'),
	      url('../fonts/Comfortaa.woff') format('woff'),
        url('../fonts/Comfortaa.ttf') format('truetype');
	font-weight: 300 700;
	font-display: swap;

}
@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono'),
	      url('../fonts/RobotoMono.woff2') format('woff2'),
	      url('../fonts/RobotoMono.woff') format('woff'),
        url('../fonts/RobotoMono.ttf') format('truetype');
	font-weight: 100 700;
	font-display: swap;
}
:root {
  /* Fonts */
  --fff: -apple-system, BlinkMacSystemFont, Avenir, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, Helvetica, "Helvetica Neue", sans-serif; /* Fallback fonts */
  --fft: 'Roboto Flex', var(--fff);
  --ffd: 'Comfortaa', var(--fff);
  --ftm: 'Roboto Mono', var(--fff);
  /* Colors */
  --cp: rgb(1 52 55); /* #013437 */
  --cbg: #fbffff;
  --ct: #000a0b;
  --cbg-l: #292e36;
  --csp-1: #001416;
  --csp-2: #1a484b;
  --csp-7: #4d7073;
  --csp-8: #668587;
  --csp-9: #b2c2c3;
  --cbody:#081011;
  --bs: 0px 15px 27px -2px rgba(10,13,10,0.33); /* Box Shadow */
  --border-cover:3px solid #014c50;
  --border-cover-bottom:2px solid #4d7073;
  --tra-s: .85s;
  /* Debug */
  --b1: 2px solid red;
  --b2: 2px solid green;
  --b3: 2px solid blue;
}
*, *::before, *::after{ box-sizing:border-box; margin:0; padding:0;}
body {
  font-family: var(--fft);
  color: var(--ct);
  background-color: var(--cbg);
}
/* oxypteros framework */
.grid{ display:grid; }
.flex{ display:flex; }
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ffd);
}
a {
  display: inline-block;
}
.frame{
  grid: 1.5fr auto / auto minmax(280px, 1400px) auto;
}
/* Cover Styles */
/* Frame Styles */
main{
  grid-area: 1/2/1/2;
}
footer{
  grid-area:2/2/2/2;
}
.top{
  flex-direction:column;
  justify-content: flex-start;
  align-items:center;
  background-color: var(--csp-1);
}
.bottom{
  flex-direction:column;
  justify-content: flex-start;
  align-items:center;
}
.inner-top{
  grid:  auto 1fr / auto minmax(300px, 1024px) auto;
  place-items: center end;
  width:100%;
}
.inner-bottom{
  grid: 1fr / auto minmax(300px, 1024px) auto;
  place-items: center start;
  width:100%;
}
header{
  grid-area:1/2/1/2;
  padding:.8617rem;
}
main{
  grid-area:2/2/2/2;
  width:100%;
  margin: 5rem 0 0 0;
  text-align: right;
  padding: .8617rem;
}
.index-info{
  grid-area: 1/2/1/2;
  width:100%;
}

/* Content Style */
header{
  color: var(--cbg);
}
header ul {
  list-style-type: none;
  padding-left: .5rem;
}
header li {
  display:inline;
  color: var(--csp-9);
  padding: 0 .5rem ;
}
header a{
  text-decoration: none;
  color: var(--csp-9);
}
header a:hover{
  transition: var(--tra-s);
  color: var(--csp-8);
}
#translate-svg {
  fill: var(--cbg);
}
.index-h1{
  color:var(--cbg);
  font-weight: 100;
}
.index-h1:before {
  display: block;
  content: '';
  width: 45%;
  height:1px;
  background-color: var(--csp-7);
  margin: 0 0 .4rem calc(55% + .5rem);
  border: .05rem solid var(--csp-7);
  border-radius: 5px;
}
.index-h1:after {
  display:block;
  content: '';
  width:95%;
  height:1px;
  background-color: var(--csp-8);
  margin: 0 0 0 calc(5% + .5rem);
  border: .1rem solid var(--csp-8);
  border-radius: 5px;
}
.index-subtitle {
  margin: -1rem .5rem;
  font-size: .9rem;
  font-weight: 300;
  font-style: oblique;
  color:var(--csp-9);
}
.index-authors{
  margin-top:3rem;
  font-family: var(--ffd);
  color: var(--cbg);
}
.index-info {
  justify-content:space-between;
  padding:.86rem;
}
.index-nav {
  font-size:2rem;
}
.index-nav ul{
  list-style-type: none;
}
.index-nav a{
  color: var(--csp-1);
}
.index-nav a:hover{
  transition: var(--tra-s);
  color: var(--csp-2);
  text-decoration: underline wavy;
}
.logo{
  align-self:flex-end;
}
.logo svg{
  height:2rem;
  fill: var(--csp-1);
}
.logo a{
  text-decoration:none;
}
.logo a:hover svg{
  transition: var(--tra-s);
  fill: var(--csp-2);
}

.index-footer{
  grid: 1fr / auto minmax(300px, 1024px) auto;
  background-color: var(--csp-1);
  margin: 5rem 0 0 0;
  padding:.86rem;
  color: var(--csp-8);
  font-family: var(--ffd);
  font-weight: 100;
  font-size:.9rem;
}
.section-footer{
  grid-area: 1/2/1/2;
}
.info-footer {
  width:100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.copy{
  color:var(--csp-9);
}
.small {
  font-size:.7rem;
  font-style:italic;
}
.powered {
  font-size: .7rem;
}
.powered a{
  text-decoration: none;
  color: var(--csp-9);
}
.powered a:hover{
  transition: var(--tra-s);
  color: var(--csp-8);
  text-decoration: underline;
}
.hr-1{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--csp-2), rgba(0, 0, 0, 0));
}
.footnotes{
  grid: 1fr/ 1fr auto;
  place-items:center;
}
.motto{
  grid-area:1/1/1/1;
  text-align: center;
  font-family: var(--fft);
  font-size:.7rem;
  letter-spacing: .05rem;
}
.pi{
  grid-area: 1/2/1/2;
  font-size:.7rem;
  cursor: pointer;
}
/* Debug */
.b1{
  border: 2px solid red;
}

.b2{
  border: 1px solid green;
} */
.b3{
  border: 1px solid blue;
}

