/*
* FONTS
*/
/* inter-200 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/inter-v12-greek_latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-200.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-300 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v12-greek_latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-greek_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v12-greek_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v12-greek_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-greek_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v12-greek_latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-v12-greek_latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-regular - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-greek_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-italic - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-greek_latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-700 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-greek_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-700italic - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-greek_latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*
* END FONTS
*/
/* Global root values */
:root {
  --ff: "Inter"; /* Main font family */
  --ff-m: "Anonymous Pro"; /* Monospace font*/
  --ff-f: sans-serif; /* Main fallback font */
  --ff-mf: monospace; /* Monospace fallback font */
  --ff-main: var(--ff), var(--ff-f); /* Main font with fallback*/
  --ff-mono: var(--ff-m), var(--ff-mf); /* Monospace font with fallback */
  --mw-px: 794px;
  --b: .1rem solid; /* Border width and type */
  --br: .2rem; /* border-radius */
}
/* Oxy theme specific values (LIGHT, default) */
body {
  --bg:#f4f9fa;
  --bg-cntr:#e7edef;
  --pri:#005d6b;
  /*--pri-cntr:#001f26;*/
  --pri-hover:#00424E;
  --sec:#6b948c;
  --sec-cntr:#424d47;
  --out:#949B9E;
  --out-var:#3f484b;
  --on-bg:#202124;
  --on-bg-cntr:#191c1d;
  --on-pri:#fff;
  --on-pri-hover:#a8edff;
  --on-sec:#202124;
  --on-sec-cntr:#fff;
  --on-out:#000;
  --on-out-var:#fff;
 --shadow-rgba: rgba(0,0,0,.5);
  --anchor: url(../img/icons/anchor.svg);
  --blank: url(../img/icons/blank.svg);
  --mw-px: 794px;
}

body.alpha-dark {
  --bg:#202124;
  --bg-cntr:#292a2d;
  --pri:#86b9b0;
  --pri-hover:#b1cdd2;
  --pri-cntr:#4c7273;
  --sec:#005c70;
  --sec-cntr:#004e61;
  --out:#2a2c30;
  --out-var:#3f4947;
  --on-bg:#edf0f1;
  --on-bg-cntr:#e8eaed;
  --on-pri:#242424;
  
  --on-sec:#fafafa;
  --on-sec-cntr:#b7eaff;
  --on-out:#cbcdd2;
  --on-out-var:#eaeaeb;


  --anchor: url(../img/icons/anchor-d.svg);
  --blank: url(../img/icons/blank-d.svg);

  --on-pri-hover:#000;
  --mw-px: 794px;
}
body {
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 300;
  color: var(--on-bg);
  line-height: 1.5;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens:auto;
  hyphens: auto;
  background-color: var(--bg);
  padding: 0;
  margin:0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
/*
* Default styles
*/
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
a {
  color: var(--pri);
  font-weight:400;
  text-decoration: underline solid var(--pri) .05em;
  text-underline-offset:.1em;
}
a:visited {
  color: var(--on-bg);
  text-decoration: underline solid var(--on-bg) .05em;
  text-underline-offset:.1em;
}
a:hover,
a:active {
  color:var(--pri-hover);
  text-decoration: none;
}
.remove a[href^="#"]::after{
  content: '';
  display: inline-block;
  background: var(--anchor) no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-bottom: .2rem;
  margin-left:.1rem;
}
a[target=_blank]::after
{
  content: '';
  display: inline-block;
  background: var(--blank) no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-bottom:.2em;
  margin-left:.1em;
}

nav a {
  text-decoration: none;
}
nav > ul{
  margin:0;
  padding: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
details summary { 
  cursor: pointer;
}
details summary > * {
  display: inline;
}
abbr {
  cursor: help;
}
/*
*  ALPHA TEMPLATE
*/
/* HEADER */
.sticky-header {
  position: sticky;
  top:0;
  background-color: var(--bg);
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 2rem;
}
.header-nav {
  margin: 0 .5rem;
  width: 100%;
  max-width: var(--mw-px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
}

.drawer {
  display: inline-block;
  position: relative;
}
.drawer summary {
  list-style: none;
  cursor: pointer;
}
.drawer summary::-webkit-details-marker {
  display: none;
}
.drawer .drawer-content {
  position: absolute;
  min-inline-size: max-content;
}
.lang-switch{
  left:0;
}
.drawer details[open] summary::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}
.drawer .drawer-marker {
  display: flex;
  align-items: center;
}
.drawer .drawer-content {
  display: flex;
  flex-direction: column;
  gap:.5rem;
  margin-top: .3rem;
  padding:.5rem;
  background-color: var(--bg-cntr);
  border: var(--b) var(--out-var);
  border-radius: var(--br)
}
.lang-link,
.theme-btn {
  display: inline-flex;
  align-items: center;
  gap: .3rem;
}
.nude{
  margin:0;
  padding:0;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 300;
  color: var(--pri);
  line-height: 1;
}
.lang-link:hover {
  text-decoration: underline dotted var(--pri-hover) .1em;
  text-underline-offset: .1em;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  font-size:.9rem;
  flex-grow: 1;
}
.menu-link-active{
  text-decoration: underline solid var(--pri) .14rem;
  text-underline-position: under;
  text-underline-offset:.1em;
}
.menu-link:hover{
    text-decoration: underline dotted var(--pri) .14rem;
    text-underline-position: under;
    text-underline-offset: .1em;
}


/*
* SVG
*/
.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-small {
  width: 1rem;
  height: 1rem;
}
#language,
#theme {
  stroke: var(--on-bg);
}

#alphabet-latin,
#alphabet-greek
{
  stroke: var(--on-bg)
}
#stories,
#design {
  stroke: var(--pri);
}
#chevron-down{
  stroke: var(--pri);
}
/*
* END HEADER sticky
/* 
/* MAIN INDEX */
.index-main{
  height: calc(100dvh - 4.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-article {
  max-width: var(--mw-px);
}
.content {
  max-width:70ch;
  padding:1rem;
}
.index-footer {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items:center;
 
}
.ab {
  display: inline-block;
  margin:0;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1;
}
.oxypteros {
  line-height: 1.8;
}
.alpha {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
  margin-top: 0;
}
.stories {
  color: var(--pri);
}
.content a {
  text-decoration: underline solid 1px;
  text-underline-offset: .15em;
}
.ocd {
  font-size: 1.2rem;
 

}
.dotspacer{
  text-align: center;
  text-orientation: mixed;
  writing-mode: sideways-lr; 
  font-size: 1.5rem;
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 6rem;
}
.center {text-align:center}
.oxyplate {
  font-size: 1.2rem;
  color: var(--pri)
}
.ita {
  font-style: italic;
}
.pub {
  font-size:1.2rem;
  font-weight: 250;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--mw-px);
  width:100%;
  font-size: .7rem
}
.copy {
  margin-left: .5rem;
}
.icons {
  margin-right: .5rem;
}
.pi {font-size: .7rem;
align-self: flex-end;
margin: 0 .5rem;
}

/*
* END MAIN INDEX
/* 
/* OCD Oxypteros Console for Debug */
.odc-wrap{
  position: fixed;
  right: .5rem;
  bottom: 3rem;
}
.odc-btn {
  background-color:var(--bg-cntr) ;
  border: solid 3px var(--pri);
  border-radius: 99999px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:3.5rem;
  width:3.5rem;
  font-family: var(--ff-mono);
  font-size: .8rem;
  color: var(--on-bg); 
}
.icon-odc {
  height:1.5rem;
  width:1.5rem;
  stroke: var(--pri);
  stroke-width: 1.5;
}
#bug-icn {
  stroke: red;
}
.odc-container{
  position: fixed;
  bottom:0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.odc-wrapper {
  max-width: var(--mw-px);
  width:calc(100% - 1rem);
  margin: 0 .5rem;
  padding: .5rem;
  background-color: var(--bg-cntr);
  border-top: var(--b) var(--out-var);
  border-left:var(--b) var(--out-var);
  border-right:var(--b) var(--out-var);
  border-radius: var(--br);
}
.odc-top {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.odc-h2 {
  font-size: 1.2rem;
  font-weight: 300;
  margin:0;
  line-height: 1;
}
.odc-close-btn {
  margin:0;
  background-color: transparent;
  border: none;
}
.odc-icon{
  height: 1.2rem;
  width: 1.2rem;
  stroke: var(--pri);
  stroke-width: 2;
  fill:none;
}
.odc-main {
  margin: 1rem .5rem;
}
.warning{
  font-size: .9rem;
  display: flex;
  gap:.5rem;
  align-items: center;
  margin: .5rem 0;
}
.odc-warning {
  height: 1.2rem;
  width: 1.2rem;
  stroke: var(--warning);
  stroke-width: 1.5;
}
/*
* END OCD Oxypteros Console for Debug
/* 

/*
* Cookie consent
*/
.cookie-container{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cookie-wrapper{
  padding: .5rem;
  max-width: var(--mw-px);
  width: calc(100% - 2rem);
  background-color: var(--bg-cntr);
  font-size: .9rem;
  border-top: var(--b) var(--out-var);
  border-right: var(--b) var(--out-var);
  border-left: var(--b) var(--out-var);
  border-radius: var(--br);
}
.cookie-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.cookie-title{
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 0 ;
  margin-bottom: 0;
  margin-left: .5rem;
}
.cookie-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.cookie-footer-right{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.cookie-consent-btn {
  font-size: 1rem;
  font-weight: 400;
  width: 100px;
  height: 2rem;
  background-color: var(--bg);
  border: var(--b) var(--bg);
  border-radius: var(--br);
  
}
/* Buttons */
button {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  padding: 0 .5rem;
}
/* Text Buttons */

.flat-btn {
  min-height:2.5rem;
  min-width:5rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background-color: var(--bg);
  border: var(--b) var(--bg);
  border-radius: .2rem;
  color: var(--pri);
}
.flat-btn:hover {
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 1px 2px 0px var(--shadow-rgba), 0px 2px 2px 1px var(--shadow-rgba);
  color: var(--pri-hover);
}
.outlined-btn {
  min-height:2.5rem;
  min-width: 5rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bg);
  border: var(--b) var(--pri);
  border-radius: .2rem;
  color: var(--pri);
}

.outlined-btn:hover{
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 2px 3px 0px var(--shadow-rgba);
  border: var(--b) var(--pri-hover);
  color: var(--pri-hover);
}
.filled-btn {
  min-height:2.5rem;
  min-width: 5rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--pri);
  border: var(--b) var(--pri);
  border-radius: .2rem;
  color: var(--on-pri);
}
.filled-btn:hover{
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 1px 2px 0px var(--shadow-rgba), 0px 2px 2px 1px var(--shadow-rgba);
  background-color:var(--pri-hover);
  border: var(--b) var(--pri-hover);
}
/*
* OxyClasses 
*/

/* Layout (flex, grid) */
  .d-f{display:flex}
  .d-g{display:grid}
  .fd-c{flex-direction:column}
  .jc-c{justify-content:center}
  .jc-sb{justify-content:space-between}
  .jc-fe{justify-content:flex-end}
  .ji-c{justify-items:center}
  .ai-c{align-items:center}
  .as-fs{align-self:flex-start}
  .fw-w{flex-wrap:wrap}
  .g-05r{gap:.5rem}
/* Length-Spacing (width, height,margin, padding) */
  .w-100{width:100%}
  .mw-v{max-width:var(--mw)}
  .mih-100vh{min-height:100vh}
/* Text */
  .fs-1p3r{font-size:1.3rem}
  .fw-200{font-weight: 200}
  .c-pc{color:var(--pc)}
  .ta-c{text-align:center}
  .td-n{text-decoration:none}
/* Misc */
  .hide{
    display: none !important;
  }
  /* show to screen readers*/
  .hide-v{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  .bbsh{border-bottom: var(--b) var(--bbsh)}
  
  .test{
    --01: 1;
    --color:0,0,0;
    --rgba:rgba(var(--color),var(--01));
    background-color: var(--rgba);
    height: 150px;
    width: 150px;
  }