/* FONTS */
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: local(""),
    url("../fonts/Inter-roman.var.woff2") format("woff2-variations");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: local(""),
    url("../fonts/Inter-italic.var.woff2") format("woff2-variations");
}
/* Global root values */
:root {
  --ff-m: "Inter"; /* Main font family */
  --ff-mf: sans-serif; /* Main fallback font */
  --ff-main: var(--ff-m), var(--ff-mf); /* Main font with fallback*/
  --b: .1rem solid;
  --br: .2rem; /* border-radius */
}
/* Oxy theme specific values (LIGHT, default) */
body {
  --bgc: #f0f0f0;
  --bgc-s: #e6e6e6;
  --bgc-t: #fff;
  --c: #1c1c1c;
  --cl: #f0f0f0;
  --cl-s:#e6e6e6;
  --cl-t: #fff;
  --primary: #48486f;
  --primary-shade: #3a3a59; /* BACKUP #343450*/
  --primary-tint: #5a5a8b;
  --disabled-c: #4D4D4D;
  --attn-c: #cc000a ;
  --pc: #273c4e;
  --pc-s: #1f303e;
  --pc-t: #314b62;
  --mw: 794px;
}

/* Oxy theme specific values (DARK) */
body.oxy-dark {
  --bgc: #1f1f1f;
  --bgc-s: #272727;
  --bgc-t: #191919;
  --c: #f0f0f0;
  --pc: #a3bcd1;
  --pc-s: #96B2CA;
  --pc-t: #bdcfde;
  --disabled-c:#8A8A8A;
  
}

body.oxy-dark {
  --dc: #29292f;
  --dc-s: #1f1f24;
  --dc-t: #191919;
  --lc: #f0f0f0;/*
  --pc: #96b2ca;/*#97A6C9;/*#628cb0; /*#273c4e;*/
  /*--pc-t:#b0c5d8;*/
}
body {
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 300;
  color: var(--c);
  line-height: 1.5;
  hyphens: auto;
  background-color: var(--bgc);
  padding: 0;
  margin:0;
}

a:hover {
  -webkit-tap-highlight-color: transparent;
}
button {
  cursor: pointer;
}
/*
* Oxy. Layout
*/
.oxy-grid {
  display: grid;
  grid: auto / auto minmax(300px, 800px) auto;
}

.oxy-grid-child {
  grid-area: 1/2/1/2;
}
main {
  min-height: 100vh;
}
/*
* END: Oxy. Layout
*/
/*
* DEFAULT RULES
*/
nav > ul{
  margin:0;
  padding: 0;
  list-style-type: none;
}
h1, h2, h3 {
  margin-block: 0;
}
/*
* END DEFAULT RULES
*/
/* ALPHA CLASSES */
.cl-s {
  color: var(--cl-s);
}
/* OxyClasses */
  /* Layout (flex, grid) */
  .d-f{display:flex}
  .d-g{display:grid}
  .fd-c{flex-direction:column}
  .jc-c{justify-content:center}
  .jc-sb{justify-content:space-between}
  .jc-fe{justify-content:flex-end}
  .ji-c{justify-items:center}
  .ai-c{align-items:center}
  .as-fs{align-self:flex-start}
  .fw-w{flex-wrap:wrap}
    /* Length-Spacing (width, height,margin, padding) */
  .w-100{width:100%}
  .mw-v{max-width:var(--mw)}
  .mih-100vh{min-height:100vh}
    /* Text */
  .c-pc{color:var(--pc)}
  .ta-c{text-align:center}
  .td-n{text-decoration:none}
  
  .hide{
    display: none !important;
  }
  /* show to screen readers*/
  .hide-v{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
  }