/* FONTS */
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: local(""),
    url("../fonts/Inter-roman.var.woff2") format("woff2-variations");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: local(""),
    url("../fonts/Inter-italic.var.woff2") format("woff2-variations");
}
/* Global root values */
:root {
  --ff-m: "Inter"; /* Main font family */
  --ff-mf: sans-serif; /* Main fallback font */
  --ff-main: var(--ff-m), var(--ff-mf); /* Main font with fallback*/
  --b: .1rem solid;
  --br: .2rem; /* border-radius */
}
/* Oxy theme specific values (LIGHT, default) */
body {
  --bgc: #f0f0f0;
  --bgc-shade: #e6e6e6;
  --bgc-tint: #fff;
  --c: #1c1c1c;
  --primary: #48486f;
  --primary-shade: #3a3a59; /* BACKUP #343450*/
  --primary-tint: #5a5a8b;
  --disabled-c: #4D4D4D;
  --attn-c: #cc000a ;
  --pc: #273c4e;
}

/* Oxy theme specific values (DARK) 
body.oxy-dark {
  --bgc: #1f1f1f;
  --bgc-shade: #272727;
  --bgc-tint: #191919;
  --c: #f0f0f0;
  --primary: #b9b9ac;
  --primary-shade: #f5fffa;
  --primary-tint: #e7e7e3;
  --disabled-c:#8A8A8A;
}
*/
body.oxy-dark {
  --dc: #29292f;
  --dc-s: #1f1f24;
  --dc-t: #191919;
  --lc: #f0f0f0;
  --pc: #a7a7b8;
}
body {
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 300;
  color: var(--c);
  line-height: 1.5;
  hyphens: auto;
  background-color: var(--bgc);
  padding: 0;
  margin:0;
}

a:hover {
  -webkit-tap-highlight-color: transparent;
}
button {
  cursor: pointer;
}
/*
* Oxy. Layout
*/
.oxy-grid {
  display: grid;
  grid: auto / auto minmax(300px, 800px) auto;
}

.oxy-grid-child {
  grid-area: 1/2/1/2;
}
main {
  min-height: 100vh;
}
/*
* END: Oxy. Layout
*/
/*
* DEFAULT RULES
*/
nav > ul{
  margin:0;
  padding: 0;
  list-style-type: none;
}
/*
* END DEFAULT RULES
*/
