.header{
  display:grid;
  grid: 1fr / auto minmax(300px, 794px) auto;
  background-color: var(--pc);
  color: var(--cl);
  padding: .4rem .5rem;
  font-size: .9rem;
  font-weight: 400;
  position: sticky;
  top:0;
}
.header-wrap{
  grid-area: 1/2/1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header-util {
  display: flex;
  align-items: center;
  font-size: .8rem;
  gap: .2rem;
}
.lang-link {
  color: var(--cl);
  text-decoration: none;
}
.lang-link:hover {
  text-decoration: underline dotted;
  color: var(--cl-t);
}

.header-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.theme-btn{
  background-color: var(--pc);
  border: var(--b) var(--pc);
  border-radius: 50%;
  padding: .2rem;
}
.theme-btn:hover {
  border: var(--b) var(--cl-t);
}

.feat{
  background-color: var(--pc);
  display: grid;
  grid: calc(100vh - 2.8rem) / auto minmax(300px, var(--mw)) auto;
}
.feat-art {
grid-area: 1/2/1/2;
padding: 0 .5rem;
}

.feat-art-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 35vh;
}
.feat-h1 {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  color: var(--cl-t);
}
.feat-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.btn {
  color: var(--cl-t);
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  background-color: var(--pc-s);
  border: var(--b) var(--pc-t);
  border-radius: var(--br);
  padding: .3rem .5rem;
  min-width: 50%;
  text-align: center;
}
.btn:hover {
  color: var(--cl-s);
  background-color: var(--pc-t);
  border: var(--b) var(--pc-s);
}
.feat-art-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25vh;
}
.feat-terms {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--b) var(--pc-s);
}
.term-link {
  font-size: .9rem;
  color: var(--cl-s);
  text-decoration: none;
  margin-bottom: .1rem;
}
.term-link:hover {
  text-decoration: dotted underline var(--cl-t) .1rem;
  text-underline-offset: .3em;
  color: var(--cl-t);
}
.feat-author{
  display: flex;
  justify-content: center;
  gap: .3rem;
  color: var(--cl-s);
  font-size: .9rem;
}
.art-list{
  min-height: 100vh;
  background-image: url(../img/layered-waves-haikei.svg);
  background-repeat: no-repeat;
}
svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-icon {
  height: 1rem;
  width: 1rem;
  fill: var(--cl);
}
.header-icon:hover {
  fill: var(--cl-t);
}