.header{
  height: 100vh;
  background-color: var(--pc);
  color: var(--cl);
  position: sticky;
  top:0;
  z-index: -9;
  display: grid;
  grid: 1.5rem / auto minmax(300px, 794px) auto;
  padding: .5rem;
}
.header-nav {
   grid-area: 1/2/1/2;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.main {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  background-color: #fff;
}
footer{
  min-height: 4rem;
  color: red;
  position: relative;
  z-index: 9;
}