.menu-header{
  position: relative;
  z-index: 5;
  background-color: var(--bgc);
  padding-bottom: 3rem;
}
.nav-bar{
  position: fixed;
  top: 0;
  z-index: 3;
  height: 1.5rem;
  padding: .3rem .5rem .2rem;
  background-color: var(--bgc);
  border-bottom: var(--b) var(--bgc-s);
}
.bar{
  
}
.nav-bar-title{
  flex-grow: 1;
}
.logo{
  
}
.nav-bar-icon{
  height: 1.2rem;
  width: 1.2rem;
  fill: var(--pc);
}
main{
  min-height: 200vh
}
.nav-bar-btn{
  background-color: var(--bgc);
  border: none;
}