.story-header {
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: var(--b) #000;
  background-color: var(--dc-s);
}
.back-link {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin:.1rem;
}
.icon-back {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--pc);
}
.story-main {
  margin-top: 2.5rem;
}
.story-cover {
  margin: 1rem .4rem;
  padding: 3rem .5rem;
  height: calc(100vh - 9rem);
  background-color: #273c4e;
  border-radius: var(--br);
  font-weight: 350;
  color: var(--lc);
}
.cover-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-top: var(--b) var(--pc);
  border-bottom: var(--b) var(--pc);
  padding: .5rem 0;
}
.cover-sup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cover-sup > a {
  font-size: .8rem;
  text-decoration: none;
  color: var(--pc);
}
.cover-sup > a:hover {
  text-decoration: underline;
  color: var(--lc);
}
.cover-publisher {
  font-size: .8rem;
  color: var(--pc);
}
.cover-h1 {
  text-align: center;
  font-weight: 200;
  font-size: 2.3rem;
}
.copy-page,
.page {
  margin: 1rem .4rem;
  min-height: calc(100vh - 2rem);
  background-color: var(--lc);
  border-radius: var(--br);
  font-weight: 350;
  color: var(--dc-s);
}
.copy-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
}
.copy-page-disc {
  font-size: .9rem;
  text-align: center;
}
.copy-page-info {
  font-size: .8rem;
}
.copy-page-info > ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
.page {
  padding: 0 .5rem 1rem;
}
.page-header{
 display: flex;
 align-items: center;
 margin-bottom: 2rem;
}
.h2-parts {
  font-size: .9rem;
  font-weight: 300;
  color: var(--dc);
  width: fit-content;
}
.page-header-spacer {
  border: var(--b) var(--dc);
  border-radius: var(--br);
  margin-left: .5rem;
  background-color: var(--dc);
  flex-grow: 1;
}
.page-header + h3 {
  margin: 5rem 0;
  font-size: 2rem;
  font-weight: 200;
  color: var(--p);
  text-align: center;
}
.dropcap + p:first-of-type::first-letter {
  float: left;
  font-size: 5.6em;
  line-height: .75;
  padding-top: .2rem;
  padding-right: .5rem;
  padding-left: 0;
  font-weight: 600;
  color: var(--primary-shade);
}
@media only screen and  (min-width:800px) {
  .copy-page {
    padding: 2rem 3rem;
  }
}