@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nunito';
    src: url('../static/fonts/Nunito-200.woff2') format('woff2');
   font-weight: 200;
    font-style: normal;
    font-display: swap;
}
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../static/fonts/InterVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("../static/fonts/InterVariable-Italic.woff2") format("woff2");
  }
  @font-face {
    font-family: 'JetBrains';
    src: url('../static/fonts/JetBrainsMono-Regular.woff2') format('woff2');
   font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  body {
    font-feature-settings:
      "ss01" 1,
      "ss02" 1,
      "ss03" 1,
      "cv05" 1,
      "cv06" 1,
      "cv11" 1;
  }
}
.hr {
  height: 1px;
  background: linear-gradient(90deg,#e0e0e5, #e0e0e5, #f9f9ff, #f9f9ff);
}

