@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nunito';
    src: url('../static/fonts/Nunito-200.woff2') format('woff2');
   font-weight: 200;
    font-style: normal;
    font-display: swap;
}
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../static/fonts/InterVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("../static/fonts/InterVariable-Italic.woff2") format("woff2");
  }
  @font-face {
    font-family: 'JetBrains';
    src: url('../static/fonts/JetBrainsMono-Regular.woff2') format('woff2');
   font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  body {
    font-feature-settings:
      "ss01" 1,
      "ss02" 1,
      "ss03" 1,
      "cv05" 1,
      "cv06" 1,
      "cv11" 1;
  }
}

#frame {
  display: grid; 
  grid-template-columns: auto 1fr auto; 
}
.hr {
  height: 1px;
  background: linear-gradient(90deg,#e0e0e5, #e0e0e5, #f9f9ff, #f9f9ff);
}

.card-border::before, #featured::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px; 
  background: linear-gradient(to right, #f9f9ff, #e0e0e5);
}
.card-border-sys::before {
  background: linear-gradient(to left, #f9f9ff, #e0e0e5);
}
.card-border::after, #featured::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 1px;
  background: linear-gradient(to bottom,#e0e0e5, #f9f9ff );
}
.card-border-sys::after {
  left:-1px;
  right:unset;
}
.card-border:hover{
   border:1px solid #e0e0e5;
   transition: border .3s ease-in-out;
}

.card-border:hover::after, .card-border:hover::before {
  background: none;
}
.sto-shadow:hover{
  box-shadow: -2px 4px 10px rgba(114, 81, 136, .4), 
              -2px 2px 4px rgba(114, 81, 136, .3); 
  transition: box-shadow .3s ease-in-out; 
}
.sys-shadow:hover {
  box-shadow: -2px 4px 10px rgba(143, 73, 83, .4), 
              -2px 2px 4px rgba(143, 73, 83, .3); 
  transition: box-shadow .3s ease-in-out; 
}
.dev-shadow:hover {
  box-shadow: -2px 4px 10px rgba(4, 107, 92, .4), 
              -2px 2px 4px rgba(4, 107, 92, .3); 
  transition: box-shadow .3s ease-in-out; 
}
