<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Content Page</title>
  <meta name="description" content="Top Bars: Components preview">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../../css/sanitize.css">
  <link rel="stylesheet" href="css/content-page.css">
</head>

<body>
  <main>
    <article>
      <div class="top-bar-wrapper">
        <header class="top-bar">
          <a href="/" title="Go Back"><svg class="icon" aria-label="Go Back"><use xlink:href="#arrow-back"></use></svg></a>
          <h1 class="h1-content-title">Content title Lorem Ipsum</h1>
        </header>
      </div>

      <footer>
        <div class="bottom-bar-wrapper">
          <div class="bottom-bar">
            <button class="btn-bar">
              <svg class="icon" aria-label="Menu button">
                <use xlink:href="#hamburger"></use>
              </svg>
              <span class="btn-text">Home</span>
            </button>
            <div class="bottom-bar-right">
              <a class="btn-bar mr1" href="previous">
                <svg class="icon" aria-label="Table of content button">
                  <use xlink:href="#arrow-previous"></use>
                </svg>
              </a>
              <button class="btn-bar">
                <svg class="icon" aria-label="Table of content button">
                  <use xlink:href="#toc"></use>
                </svg>
                <span class="btn-text">Index</span>
              </button>
              <a class="btn-bar ml1" href="#next">
                <svg class="icon" aria-label="Table of content button">
                  <use xlink:href="#arrow-next"></use>
                </svg>
              </a>
           </div>
          </div><!-- END .bottom-bar -->
        </div><!-- END .bottom-bar-wrapper -->
      </footer>
    </article>
  </main>
  <!-- Scripts 

  <script src=""></script>
  
  -->
  <!-- SVG -->
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 24 24" id="arrow-back">
      <path d="M0 0h24v24H0V0z" fill="none"></path>
      <path d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42-.39-.39-1.02-.39-1.41 0l-6.59 6.59c-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 24 24" id="arrow-previous">
      <path d="M0 0h24v24H0V0z" fill="none"></path>
      <path d="M14.71 6.71c-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 24 24" id="arrow-next">
      <path d="M0 0h24v24H0V0z" fill="none"></path>
      <path d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 24 24" id="hamburger">
      <path d="M0 0h24v24H0V0z" fill="none"></path>
      <path d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 24 24" id="toc">
      <path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path>
      <path d="M4 9h12c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0 4h12c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0 4h12c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm15 0h2v-2h-2v2zm0-10v2h2V7h-2zm0 6h2v-2h-2v2z"></path>
    </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" fill="#000000" viewBox="0 0 24 24" id="edit">
    <rect fill="none" height="24" width="24"></rect>
    <path d="M14,11c0,0.55-0.45,1-1,1H4c-0.55,0-1-0.45-1-1s0.45-1,1-1h9C13.55,10,14,10.45,14,11z M3,7c0,0.55,0.45,1,1,1h9 c0.55,0,1-0.45,1-1s-0.45-1-1-1H4C3.45,6,3,6.45,3,7z M10,15c0-0.55-0.45-1-1-1H4c-0.55,0-1,0.45-1,1s0.45,1,1,1h5 C9.55,16,10,15.55,10,15z M18.01,12.87l0.71-0.71c0.39-0.39,1.02-0.39,1.41,0l0.71,0.71c0.39,0.39,0.39,1.02,0,1.41l-0.71,0.71 L18.01,12.87z M17.3,13.58l-5.16,5.16C12.05,18.83,12,18.95,12,19.09v1.41c0,0.28,0.22,0.5,0.5,0.5h1.41c0.13,0,0.26-0.05,0.35-0.15 l5.16-5.16L17.3,13.58z"></path>
  </symbol>
  </svg>
</body>

</html>
