/*
* FONTS
*/
/* inter-200 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/inter-v12-greek_latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-200.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-300 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v12-greek_latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-greek_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v12-greek_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v12-greek_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-greek_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v12-greek_latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-v12-greek_latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-regular - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-greek_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-italic - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-greek_latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-700 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-greek_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-700italic - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-greek_latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*
* END FONTS
*/
/* Global root values */
:root {
  --ff: "Inter"; /* Main font family */
  --ff-m: "Anonymous Pro"; /* Monospace font*/
  --ff-f: sans-serif; /* Main fallback font */
  --ff-mf: monospace; /* Monospace fallback font */
  --ff-main: var(--ff), var(--ff-f); /* Main font with fallback*/
  --ff-mono: var(--ff-m), var(--ff-mf); /* Monospace font with fallback */
  --mw-px: 794px;
  --b: .1rem solid; /* Border width and type */
  --br: .2rem; /* border-radius */
}
/* Oxy theme specific values (LIGHT, default) */
body {
  --bg:#f4f9fa;
  --bg-cntr:#e7edef;
  --pri:#005d6b;
  /*--pri-cntr:#001f26;*/
  --pri-hover:#00424E;
  --sec:#6b948c;
  --sec-cntr:#424d47;
  --out:#949B9E;
  --out-var:#3f484b;
  --on-bg:#202124;
  --on-bg-cntr:#191c1d;
  --on-pri:#fff;
  --on-pri-hover:#a8edff;
  --on-sec:#202124;
  --on-sec-cntr:#fff;
  --on-out:#000;
  --on-out-var:#fff;
 --shadow-rgba: rgba(0,0,0,.5);
  --anchor: url(../img/icons/anchor.svg);
  --blank: url(../img/icons/blank.svg);
  /*
  --pri: #496727;
  --pri-cntr: #dde6Cd;
  --sec:#e2e4d7;
  --sec-cntr:#dde5cd;
  --ter:#f4f4ea;
  --ter-cntr:#c9ee9e;
  --on-pri: #fff;
  --on-pri-cntr:#171e0e;
  --on-sec:#46473F;
  --on-sec-cntr:#161e09;
  --on-ter:#15140f;
  --on-ter-cntr:#0b1900;
  
  
  --on-pri-hover: #1e3700;
 --shadow-rgba:rgba(27,28,24,.5);
  --on-pri-rgba02:rgba(27,28,24,.2);
  --on-pri-a: #496727; /* Accented content on primary
  --on-pri-a-hover: #1e3700;

  --bg: #fefcf6;
  --on-bg:#1b1c18;
  --disabled:#fefcf6;*/

}

.alpha-dark {
  --bg:#202124;
  --bg-cntr:#292a2d;
  --pri:#86b9b0;
  --pri-hover:#b1cdd2;
  --pri-cntr:#4c7273;
  --sec:#005c70;
  --sec-cntr:#004e61;
  --out:#2a2c30;
  --out-var:#3f4947;
  --on-bg:#edf0f1;
  --on-bg-cntr:#e8eaed;
  --on-pri:#242424;
  
  --on-sec:#fafafa;
  --on-sec-cntr:#b7eaff;
  --on-out:#cbcdd2;
  --on-out-var:#eaeaeb;


  --anchor: url(../img/icons/anchor-d.svg);
  --blank: url(../img/icons/blank-d.svg);

  --on-pri-hover:#000;
  /*
  --pri: #324f0f;
  --pri-cntr: #414a37;
  --sec:#45483f;
  --sec-cntr:#414a37;
  --ter: #23261f;
  --ter-cntr:#add285;
  --on-pri:#c9f09f;
  --on-pri-cntr:#dbe5cc;
  --on-sec:#c9ccc3;
  --on-sec-cntr:#dbe5cc;
  --on-ter:#e3e4de;
  --on-ter-cntr:#153500;
 --shadow-rgba:rgba(0,0,0,.5);
  --on-pri-rgba02:rgba(0,0,0,.2);
  --on-pri-a: #aed285;
  --on-pri-a-hover: #CEE4B5;

  --disabled:#45483f;

  */
}
body {
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 300;
  color: var(--on-bg);
  line-height: 1.5;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens:auto;
  hyphens: auto;
  background-color: #fff;
  padding: 0;
  margin:0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
button { cursor: pointer;}

/* Layout */
.col-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 3rem 0;
  padding: 3rem .5rem;
}
.col-cntr{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:.2rem;
}

.page-h2{
  font-size: 1.8rem;
  font-weight: 200;
  margin:0;
  text-align: center;
}
.page-h3 {
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
}
.page-h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin:0;
}
/* Colors Layout */
.alpha-light,
.alpha-dark {
  display: flex;
  flex-direction: column;
  gap: .1rem;
}
.row {
  display: flex;
  align-items: center;
  gap: .1rem;
}
.tile-l,
.tile-m,
.tile-s{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:70px;
  font-size: .8rem;
  padding: .2rem;
  line-height: 1;
}
.tile-l{
  height: 60px;
}
.tile-m{
  height: 40px;
}
.tile-s {
  height: 20px;
}
.top-left-tile{border-top-left-radius: var(--br);}
.top-right-tile{border-top-right-radius: var(--br);}
.bottom-right-tile{border-bottom-right-radius: var(--br);}
.bottom-left-tile{border-bottom-left-radius: var(--br);}
.fe{
  align-self:flex-end;
}
.background {
  background-color: var(--bg);
  color: var(--on-bg);
}
.background-container {
  background-color: var(--bg-cntr);
  color: var(--on-bg-cntr);
}
.primary {
  background-color: var(--pri);
  color: var(--on-pri);
}
.primary-hover {
  background-color: var(--pri-hover);
  color: var(--on-pri-hover);
}
.secondary {
  background-color: var(--sec);
  color: var(--on-sec);
}
.secondary-container {
  background-color: var(--sec-cntr);
  color: var(--on-sec-cntr);
}
.outline {
  background-color: var(--out);
  color: var(--on-out)
}
.outline-variant {
  background-color: var(--out-var);
  color: var(--on-out-var)
}
/* Components Layout */
.gap3 {gap:3rem;}
.component-wrap {
  display:flex;
  flex-direction: column;
  gap:2rem;
  width:400px;
  padding: 1rem .5rem;
  border: .1rem solid #000;
  border-radius: var(--br);
  background-color: var(--bg);
  color: var(--on-bg);
}
.component-cntr {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.component{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1rem;
  padding-left: .5rem;
}
.bg-container {
  background-color: var(--bg-cntr);
  border-radius: var(--br);
  padding: .5rem;
}
/* Hyperlinks */
a {
  color: var(--pri);
  font-weight:400;
  text-decoration: underline solid var(--pri) .05em;
  text-underline-offset:.1em;
}
a:visited {
  color: var(--on-bg);
  text-decoration: underline solid var(--on-bg) .05em;
  text-underline-offset:.1em;
}
a:hover {
  color:var(--pri-hover);
  text-decoration: none;
}
.remove a[href^="#"]::after{
  content: '';
  display: inline-block;
  background: var(--anchor) no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-bottom: .2rem;
  margin-left:.1rem;
}
a[target=_blank]::after
{
  content: '';
  display: inline-block;
  background: var(--blank) no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-bottom:.2em;
  margin-left:.1em;
}

/* Buttons */
button {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  padding: 0 .5rem;
}
/* Text Buttons */

.flat-btn {
  min-height:2.5rem;
  min-width:5rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background-color: var(--bg);
  border: var(--b) var(--bg);
  border-radius: .2rem;
  color: var(--pri);
}
.bg-container > .flat-btn {
  background-color: var(--bg-cntr);
  border: var(--b) var(--bg-cntr);
}
.flat-btn:hover {
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 1px 2px 0px var(--shadow-rgba), 0px 2px 2px 1px var(--shadow-rgba);
  color: var(--pri-hover);
}
.outlined-btn {
  min-height:2.5rem;
  min-width: 5rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bg);
  border: var(--b) var(--pri);
  border-radius: .2rem;
  color: var(--pri);
}

.outlined-btn:hover{
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 2px 3px 0px var(--shadow-rgba);
  border: var(--b) var(--pri-hover);
  color: var(--pri-hover);
}
.filled-btn {
  min-height:2.5rem;
  min-width: 5rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--pri);
  border: var(--b) var(--pri);
  border-radius: .2rem;
  color: var(--on-pri);
}
.filled-btn:hover{
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 1px 2px 0px var(--shadow-rgba), 0px 2px 2px 1px var(--shadow-rgba);
  background-color:var(--pri-hover);
  border: var(--b) var(--pri-hover);
}

/* Icon Buttons */
.icon-btn {
  height: 1.5rem;
  width: 1.5rem;
  stroke: var(--pri);
  stroke-width: 2;
}
.flat-icn-btn {
  min-height:2.5rem;
  min-width:2rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background-color: var(--bg);
  border: var(--br) var(--bg);
  border-radius: .2rem;
  color: var(--pri);
}
.bg-container > .flat-icn-btn {
  background-color: var(--bg-cntr);
  border: var(--br) var(--bg-cntr);
}
.flat-icn-btn:hover {
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 1px 2px 0px var(--shadow-rgba), 0px 2px 2px 1px var(--shadow-rgba);
  color: var(--pri-hover)
}
.flat-icn-btn:hover > .icon-btn {
  stroke: var(--pri-hover);
}
.outlined-icn-btn {
  min-height:2.5rem;
  min-width: 2rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bg);
  border: var(--b) var(--pri);
  border-radius: .2rem;
  color: var(--pri);
}

.outlined-icn-btn:hover{
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 2px 3px 0px var(--shadow-rgba);
  color:var(--pri-hover);
  border: var(--b) var(--pri-hover);
}
.outlined-icn-btn:hover > .icon-btn {
  stroke: var(--pri-hover);
}
.filled-icn-btn {
  min-height:2.5rem;
  min-width: 2rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--pri);
  border: var(--b) var(--pri);
  border-radius: .2rem;
  color: var(--on-pri);
}
.filled-icn-btn:hover{
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 1px 2px 0px var(--shadow-rgba), 0px 2px 2px 1px var(--shadow-rgba);
  background-color: var(--pri-hover);
  border: var(--b) var(--pri-hover);
}
.filled-icn-btn > .icon-btn {
  stroke: var(--on-pri);
  stroke-width: 1.75;
}

/* Icon + Text Buttons */
.icon-txt-btn {
  width: 1.2rem;
  height: 1.2rem;
  stroke: var(--pri);
  stroke-width: 2;
}
.flat-icn-btn:hover > .icon-txt-btn {
  stroke: var(--pri-hover);
}
.outlined-icn-btn:hover > .icon-txt-btn {
  stroke: var(--pri-hover);
}
.filled-icn-btn > .icon-txt-btn {
  stroke: var(--on-pri);
  stroke-width: 1.75;
}

/* Icon + Description Buttons */
.icon-desc-btn{
  width: 1.3rem;
  height: 1.3rem;
  stroke: var(--pri);
  stroke-width:2;
}
.flat-icn-desc-btn {
  flex-direction: column;
  gap: .15rem;
  min-height:3.5rem;
  min-width:3.5rem;
  font-family: var(--ff-main);
  font-size: .7rem;
  font-weight: 500;
  line-height: 1;
  background-color: var(--bg);
  border: var(--br) var(--bg);
  border-radius: .2rem;
  color: var(--pri);
}
.bg-container > .flat-icn-desc-btn {
  background-color: var(--bg-cntr);
  border: var(--br) var(--bg-cntr);
}
.flat-icn-desc-btn:hover {
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 1px 2px 0px var(--shadow-rgba), 0px 2px 2px 1px var(--shadow-rgba);
  color: var(--pri-hover)
}
.flat-icn-desc-btn:hover > .icon-desc-btn {
  stroke: var(--pri-hover);
}
.outlined-icn-desc-btn {
  flex-direction: column;
  gap: .15rem;
  min-height:3.5rem;
  min-width: 3.5rem;
  font-family: var(--ff-main);
  font-size: .7rem;
  font-weight: 500;
  line-height: 1;
  background-color: var(--bg);
  border: var(--b) var(--pri);
  border-radius: .2rem;
  color: var(--pri);
}
.outlined-icn-desc-btn:hover{
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 2px 3px 0px var(--shadow-rgba);
  color:var(--pri-hover);
  border: var(--b) var(--pri-hover);
}
.outlined-icn-desc-btn:hover > .icon-desc-btn {
  stroke: var(--pri-hover);
}
.filled-icn-desc-btn {
  flex-direction: column;
  gap:.15rem;
  min-height:3.5rem;
  min-width: 3.5rem;
  font-family: var(--ff-main);
  font-size: .7rem;
  font-weight: 400;
  line-height: 1;
  background-color: var(--pri);
  border: var(--b) var(--pri);
  border-radius: .2rem;
  color: var(--on-pri);
}
.filled-icn-desc-btn:hover{
  -webkit-shadow: 0px 0px 1px 0px var(--shadow-rgba), 0px 3px 1px 1px var(--shadow-rgba);
  box-shadow: 0px 1px 2px 0px var(--shadow-rgba), 0px 2px 2px 1px var(--shadow-rgba);
  background-color: var(--pri-hover);
  border: var(--b) var(--pri-hover);
}
.filled-icn-desc-btn > .icon-desc-btn {
  stroke: var(--on-pri);
  stroke-width: 1.75;
}


/* Link as btn (use default btn-classes + .pseudo-btn) */
a.pseudo-btn {
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 .5rem;
  min-width: 4rem;
  border:0;
}
a.pseudo-btn:hover {
  text-decoration: none;
  color: initial;
}


.hide{
  display: none !important;
}