/*
* FONTS
*/
/* inter-200 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/inter-v12-greek_latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-200.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-300 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v12-greek_latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-greek_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v12-greek_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v12-greek_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-greek_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v12-greek_latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-v12-greek_latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-greek_latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-regular - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-greek_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-italic - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-greek_latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-700 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-greek_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anonymous-pro-700italic - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-greek_latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/anonymous-pro-v21-greek_latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*
* END FONTS
*/
/* Global root values */
:root {
  --ff: "Inter"; /* Main font family */
  --ff-m: "Anonymous Pro"; /* Monospace font*/
  --ff-f: sans-serif; /* Main fallback font */
  --ff-mf: monospace; /* Monospace fallback font */
  --ff-main: var(--ff), var(--ff-f); /* Main font with fallback*/
  --ff-mono: var(--ff-m), var(--ff-mf); /* Monospace font with fallback */
  --mw-px: 794px;
  --b: .1rem solid; /* Border width and type */
  --br: .2rem; /* border-radius */
}
/* Oxy theme specific values (LIGHT, default) */
body {
  --pc: #223f3c;
  --pc-s: #1e3836;
  --pc-t: #38524f;
  --bgc: #f0f0f0;
  --bgc-s: #c9c9c9;
  --bgc-t: #fff;
  --c: #191c1e;
  --c-s: #000;
  --c-t: #40484d;

  --mw: 794px;
}

body.alpha-dark {
  --pc: #ffa726;
  --pc-s: #FFA724;
  --pc-t: #ffaf3a;
  --bgc: #222f35;
  --bgc-s: #1a1c1e;
  --bgc-t: #374a55;
  --c: #e1e3e5;
  --c-s: #a5acb2;
  --c-t: #fff;

  --mw: 794px;
}
body {
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 300;
  color: var(--c);
  line-height: 1.5;
  hyphens: auto;
  background-color: var(--bgc-s);
  padding: 0;
  margin:0;
  min-height: 100dvh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/*
* Default styles
*/
/*
a,
a:link {
  color: var(--pc);
  text-decoration: underline solid var(--pc) .1em;
  text-underline-offset: .1em;
}
a:visited {
  color: var(--pc-s);
  text-decoration: underline dotted var(--pc-s) .1em;
  text-underline-offset: .1em;
}
a:hover,
a:active {
  color: var(--pc-t);
  text-decoration: underline dotted var(--pc-t) .1em;
  text-underline-offset: .1em;
}
*/
a {
  color: var(--c-s);
}
a:visited{
  color: var(--c);
}
a:hover,
a:active {
  color: var(--c-t);
}
nav a {
  text-decoration: none;
}
nav > ul{
  margin:0;
  padding: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
details summary { 
  cursor: pointer;
}
details summary > * {
  display: inline;
}

/*
*  ALPHA TEMPLATE
*/
/* HEADER */
.sticky-header {
  position: sticky;
  top:0;
  background-color: var(--bgc-s);
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 2rem;
}
.header-nav {
  margin: 0 .5rem;
  width: 100%;
  max-width: var(--mw-px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:1rem
}

.drawer {
  display: inline-block;
  position: relative;
}
.drawer summary {
  list-style: none;
  cursor: pointer;
}
.drawer summary::-webkit-details-marker {
  display: none;
}
.drawer .drawer-content {
  position: absolute;
  min-inline-size: max-content;
}
.lang-switch{
  left:0;
}
.drawer details[open] summary::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}
.drawer .drawer-marker {
  display: flex;
  align-items: center;
}
.drawer .drawer-content {
  display: flex;
  flex-direction: column;
  gap:.5rem;
  margin-top: .3rem;
  padding:.5rem;
  background-color: var(--bgc);
  border: var(--b) var(--pc);
  border-radius: var(--br)
}
.lang-link,
.theme-btn {
  display: inline-flex;
  align-items: center;
  gap: .3rem;
}
.nude{
  margin:0;
  padding:0;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 300;
  color: var(--pc);
  line-height: 1;
}
.lang-link:hover {
  text-decoration: underline dotted var(--pc-t) .1em;
  text-underline-offset: .1em;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  font-size:.9rem;
}
.menu-link-active{
  text-decoration: underline solid var(--pc) .14rem;
  text-underline-position: under;
  text-underline-offset:.1em;
}
.menu-link:hover{
    text-decoration: underline dotted var(--pc) .14rem;
    text-underline-position: under;
    text-underline-offset: .1em;
}
.odc-container {
  min-height: 100px;
  background-color: red;
  position: fixed;
  bottom:0;
  width:100%;
}

/*
* SVG
*/
.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-small {
  width: 1rem;
  height: 1rem;
}
#language,
#theme {
  stroke: var(--pc);
}

#alphabet-latin,
#alphabet-greek,
#stories,
#design {
  stroke: var(--pc-t);
}
#chevron-down{
  stroke: var(--c-t);
}
/*
* END HEADER sticky
/* 
/* MAIN INDEX */
.index-main{
  height: calc(100dvh - 4.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-article {
  max-width: var(--mw-px);
}
.content {
  max-width:70ch;
  padding:1rem;
}
.index-footer {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items:center;
 
}
.ab {
  display: inline-block;
  margin:0;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1;
}
.oxypteros {
  line-height: 1.8;
}
.alpha {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
  margin-top: 0;
}
.stories {
  color: var(--pc);
}
.content a {
  text-decoration: underline solid 1px;
  text-underline-offset: .15em;
}
.ocd {
  font-size: 1.2rem;
 

}
.dotspacer{
  text-align: center;
  text-orientation: mixed;
  writing-mode: sideways-lr; 
  font-size: 1.5rem;
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 6rem;
}
.center {text-align:center}
.oxyplate {
  font-size: 1.2rem;
  color: var(--pc)
}
.ita {
  font-style: italic;
}
.pub {
  font-size:1.2rem;
  font-weight: 250;
}
.made-icon {
  stroke: #757e87;
  height:1rem;
  width:1rem;
  stroke-width:1.5;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--mw-px);
  width:100%;
}
.copy {
  margin-left: .5rem;
  font-size: .7rem;
}
.icons {
  margin-right: .5rem;
  display: flex;
  align-items: center;
}
.pi {font-size: .7rem;
align-self: flex-end;
margin: 0 .5rem;
}

/*
* END MAIN INDEX
/* 
/* OCD Oxypteros Console for Debug */
.odc-wrap{
  position: absolute;
  right: .5rem;
  bottom: 3rem;
}
.odc-btn {
  background-color:var(--bgc) ;
  border: solid 3px var(--bgc-t);
  border-radius: 99999px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:3.5rem;
  width:3.5rem;
  font-family: var(--ff-mono);
  font-size: .8rem;
  color: var(--c); 
}
.icon-odc {
  height:1.5rem;
  width:1.5rem;
  stroke: var(--c-t);
  stroke-width: 1.5;
}
/*
* END OCD Oxypteros Console for Debug
/* 

/*
* OxyClasses 
*/

/* Layout (flex, grid) */
  .d-f{display:flex}
  .d-g{display:grid}
  .fd-c{flex-direction:column}
  .jc-c{justify-content:center}
  .jc-sb{justify-content:space-between}
  .jc-fe{justify-content:flex-end}
  .ji-c{justify-items:center}
  .ai-c{align-items:center}
  .as-fs{align-self:flex-start}
  .fw-w{flex-wrap:wrap}
  .g-05r{gap:.5rem}
/* Length-Spacing (width, height,margin, padding) */
  .w-100{width:100%}
  .mw-v{max-width:var(--mw)}
  .mih-100vh{min-height:100vh}
/* Text */
  .fs-1p3r{font-size:1.3rem}
  .fw-200{font-weight: 200}
  .c-pc{color:var(--pc)}
  .ta-c{text-align:center}
  .td-n{text-decoration:none}
/* Misc */
  .hide{
    display: none !important;
  }
  /* show to screen readers*/
  .hide-v{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }