/* Global styles for alpha theme v0.0.1-beta - MIT License - https://oxypteros.com/themes/alpha */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/inter-v12-greek_latin-200.woff2') format('woff2'),
       url('../fonts/inter-v12-greek_latin-200.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v12-greek_latin-300.woff2') format('woff2'), 
       url('../fonts/inter-v12-greek_latin-300.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-greek_latin-regular.woff2') format('woff2'),
       url('../fonts/inter-v12-greek_latin-regular.woff') format('woff');
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v12-greek_latin-500.woff2') format('woff2'),
       url('../fonts/inter-v12-greek_latin-500.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v12-greek_latin-600.woff2') format('woff2'),
       url('../fonts/inter-v12-greek_latin-600.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-greek_latin-700.woff2') format('woff2'),
       url('../fonts/inter-v12-greek_latin-700.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v12-greek_latin-800.woff2') format('woff2'),
       url('../fonts/inter-v12-greek_latin-800.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-v12-greek_latin-900.woff2') format('woff2'),
       url('../fonts/inter-v12-greek_latin-900.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-greek_latin-regular.woff2') format('woff2'), 
       url('../fonts/anonymous-pro-v21-greek_latin-regular.woff') format('woff');
}
@font-face {
  font-display: swap; 
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-greek_latin-italic.woff2') format('woff2'), 
       url('../fonts/anonymous-pro-v21-greek_latin-italic.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-greek_latin-700.woff2') format('woff2'),
       url('../fonts/anonymous-pro-v21-greek_latin-700.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-greek_latin-700italic.woff2') format('woff2'),
       url('../fonts/anonymous-pro-v21-greek_latin-700italic.woff') format('woff'); 
}
/*
* END FONTS
*/
/* Global root values */
:root {
  --ff: "Inter"; /* Main font family */
  --ff-m: "Anonymous Pro"; /* Monospace font*/
  --ff-f: sans-serif; /* Main fallback font */
  --ff-mf: monospace; /* Monospace fallback font */
  --ff-main: var(--ff), var(--ff-f); /* Main font with fallback*/
  --ff-mono: var(--ff-m), var(--ff-mf); /* Monospace font with fallback */
  --mw-px: 794px; /* Max width pixels */
  --mw-ch: 70ch; /* Max width characters */
  --b: .1rem solid; /* Border width and type */
  --br: .2rem; /* Border Radius */
}
/* Alpha theme specific values (LIGHT, default) */
body {
  --sur: #f0f0f0;
  --sur-cnt: #f4f9fa;
  --pri: #005d6b;
  --pri-hov: #00424e;
  --sec:#6b948c;
  --sec-cnt:#424d47;
  --out:#949B9E;
  --out-var:#3f484b;
  --on-sur:#202124;
  --on-sur-cnt:#191c1d;
  --on-pri:#f0f0f0;
  --on-pri-hov:#a8edff;
  --on-sec:#202124;
  --on-sec-cnt:#f0f0f0;
  --bs-rgba-var1:rgba(0,0,0,.15);
  --green: #d5e8cf;
  --green-hov:#b7d4ae;
  --on-green:#101f10;
  --out-green:#72796f;
  --yellow:#ffb960;
  --yellow-hov:#a76900;
  --on-yellow:#362000;
  --red:#ba1a1a;
  --red-hov:#93000a;
  --on-red:#fff;
  --white: #fff;
  --signature: url(/img/sig/oxypteros-l.svg);
  --icn-404:url(/alpha/icons/droid.png); 
/*
  --bgc: #f4f9fa;
  --bgc-s: #e6e6e6;
  --bgc-t: #fff;
*/
}
/* Dark alpha theme */
body.alpha-dark {
  --sur:#202124;
  --sur-cnt:#292a2d;
  --pri:#86b9b0;
  --pri-hov:#b1cdd2;
  --pri-cnt:#4c7273;
  --sec:#005c70;
  --sec-cnt:#004e61;
  --out:#2a2c30;
  --out-var:#3f4947;
  --on-sur:#edf0f1;
  --on-sur-cnt:#e8eaed;
  --on-pri:#242424;
  --on-sec:#fafafa;
  --on-sec-cnt:#b7eaff;
  --bs-rgba-var1:rgba(0,0,0,.25);
  --green:#3b4b39;
  --green-hov:#576655;
  --on-green:#d5e8cf;
  --out-green:#8c9388;
  --yellow:#ffb960;
  --yellow-hov:#a76900;
  --on-yellow:#362000;
  --red:#ba1a1a;
  --red-hov:#93000a;
  --on-red:#fff;
  --white: #fff;
  --signature: url(/img/sig/oxypteros-d.svg);
  --icn-404:url(/alpha/icons/droid.png); 
}
body {
  display: flex;
  flex-direction: column; 
  min-height: 100dvh;
  margin:0;
  padding: 0;
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens:auto;
  hyphens: auto; 
  background-color: var(--sur);  
  color: var(--on-sur);
}
/* Default styles */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
a { 
  color: var(--pri);
  text-decoration: underline solid var(--pri) .05em;
  text-underline-offset:.1em;
}
a:visited {
  color: var(--on-bg);
  text-decoration: underline solid var(--on-bg) .05em;
}
a:hover,
a:active {
  color:var(--pri-hov);
  text-decoration: underline dotted var(--pri-hov) .05em;
  text-underline-offset:.1em;
}
p > a[href^="#"]::after{
  content: '';
  display: inline-block;
  background: var(--anchor) no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-bottom: .2rem;
  margin-left:.1rem;
}
p > a[target=_blank]::after
{
  content: '';
  display: inline-block;
  background: var(--blank) no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-bottom:.2em;
  margin-left:.1em;
}
nav a { text-decoration: none; }
nav > ul{
  margin:0;
  padding: 0;
  list-style-type: none;
}
button { cursor: pointer; }
details summary { cursor: pointer; }
details summary > * { display: inline; }
abbr {
  cursor: help;
}
code{
  font-family: var(--ff-mono);
}
s{
  text-decoration: line-through var(--red) .15em;
}
.skip {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  opacity: 0;
}
.skip:focus {
  left: .5rem;
  opacity: 1;
}
.signature{
  background: var(--signature) no-repeat;
}

/* Featured Content */
.feat-card {
  width: calc(100% - 4.8rem);
  display: grid;
  grid: 1fr / 2fr;
}
.feat-letter{
  grid-area: 1/1/1/1;
  font-size: 7rem;
  font-weight: 700;
  line-height: .75;
  margin-top: -.5ch;
  margin-left: -.5ch;
}
.feat-article{
 grid-area: 1/1/1/2;
}
.more-btn:hover,
.cta-sec-btn:hover {
  transition: color .5s ease-in-out 0s;
  text-decoration: none;
}
.more-btn:hover .icn-arrow-loop-right {
  transition: stroke .5s ease-in-out 0s;
  stroke: var(--pri);
}

/*Paginator */
.wrap{
  max-width:1200px;
}
.pag-card{
  max-width: 300px;
  min-height: 17.5rem;
}
.tags{
  height: 1.725rem;
 }
.tag:hover{
  text-decoration: none;
  border: var(--b) var(--pri-hov);
}
.tag:hover .icn-hash {
  stroke: var(--pri-hov);
}
.pag-item-current > .pag-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--pri);
}
.pag-link:hover .pag-icn {
  stroke: var(--pri);
}
/* Footer */
.footer-nav-item:not(:last-child)::after{
  content: '\2758';
  color: var(--pri);
  padding-left: .25rem;
  padding-right: .25rem;
}
.social-link:not(:last-child){
  margin-right: .5rem;
}
.social-link:hover > .icn-social{
  stroke: var(--pri)
}
/*404*/
.icn-404{
  background:var(--icn-404) no-repeat;
}

/* ODC */
.odc-main {
  max-height: 20vh;
}
/*CTA*/
.cta-img{
  margin-top: -5rem;
  width:125px;
  height: 125px;
  object-fit: contain;
}
.cta-pri-btn:hover{
  text-decoration: none;
  color: var(--on-pri);
  background-color: var(--pri-hov);
}
/* OxyClasses for alpha theme v0.0.1-beta - MIT License - https://oxypteros.com/themes/alpha */
/* 
* OxyClasses 
*/
  /* Layout (flex, grid, position) */
  .d-f{display:flex}
  .d-g{display:grid}
  .d-ib{display:inline-block}
  .d-if{display:inline-flex}
  .fd-c{flex-direction:column}
  .jc-c{justify-content:center}
  .jc-sb{justify-content:space-between}
  .jc-se{justify-content:space-evenly}
  .jc-fe{justify-content:flex-end}
  .ji-c{justify-items:center}
  .ai-c{align-items:center}
  .ai-fe{align-items:flex-end}
  .as-fs{align-self:flex-start}
  .as-fe{align-self:flex-end}
  .fw-w{flex-wrap:wrap}
  .fw-wr{flex-wrap:wrap-reverse}
  .fg-1{flex-grow:1}
  .fs-0{flex-shrink:0}
  .g-03r{gap:.3rem}
  .g-05r{gap:.5rem}
  .g-1r{gap:1rem}
  .g-3r{gap:3rem}
  .p-s{position:sticky}
  .p-f{position:fixed}
  .p-a{position:absolute}
  .p-r{position:relative}
  .t-0{top:0}
  .l-0{left:0}
  .b-0{bottom:0}
  .b-5r{bottom:5rem}
  .r-1r{right:1rem}
  /* Length-Spacing (width, height,margin, padding) */
  .w-fc{width:fit-content}
  .w-100{width:100%}
  .w-09r{width:.9rem}
  .w-1r{width:1rem}
  .w-1p1r{width:1.1rem}
  .w-1p2r{width:1.2rem}
  .w-1p5r{width:1.5rem}
  .w-3r{width: 3rem}
  .w-4r{width:4rem}
  .w-calc100-1r{width:calc(100% - 1rem)}
  .w-calc100-2r{width:calc(100% - 2rem)}
  .h-09r{height:.9rem}
  .h-1r{height:1rem}
  .h-1p1r{height:1.1rem}
  .h-1p2r{height:1.2rem}
  .h-1p5r{height:1.5rem}
  .h-2r{height:2rem}
  .h-3r{height:3rem}
  .h-4r{height:4rem}
  .h-6r{height:6rem}
  .mw-px{max-width:var(--mw-px)}
  .mw-ch{max-width:var(--mw-ch)}
  .miw-5r{min-width:5rem}
  .miw-8r{min-width:8rem}
  .mh-2r{min-height:2rem}
  .m-0{margin:0}
  .mt-0{margin-top:0}
  .mb-0{margin-bottom:0}
  .mt-03r{margin-top:.3rem}
  .m-05r{margin:.5rem}
  .mr-05r{margin-right:.5rem}
  .ml-05r{margin-left:.5rem}
  .m-1r{margin:1rem}
  .mb-1r{margin-bottom:1rem}
  .mt-2r{margin-top:2rem}
  .mt-3r{margin-top:3rem}
  .mb-3r{margin-bottom:3rem}
  .mt-4r{margin-top:12rem}
  .p-0{padding:0}
  .p-02r{padding:.2rem}
  .pt-02r{padding-top:.2rem}
  .pb-02r{padding-bottom:.2rem}
  .pt-03r{padding-top:.3rem}
  .pr-03r{padding-right:.3rem}
  .pb-03r{padding-bottom:.3rem}
  .pl-03r{padding-left:.3rem}
  .p-05r{padding:.5rem}
  .pt-05r{padding-top:.5rem}
  .pb-05r{padding-bottom:.5rem}
  .pl-05r{padding-left:.5rem}
  .pr-05r{padding-right:.5rem}
  .p-08r{padding:.8rem}
  .p-1r{padding:1rem}
  .pt-1r{padding-top:1rem}
  .pr-1r{padding-right:1rem}
  .pl-1r{padding-left:1rem}
  .pt-2r{padding-top:2rem}
  .pt-3r{padding-top:3rem}
  .pb-3r{padding-bottom:3rem}
  .oy-a{overflow-y:auto}
  .mis-mc{min-inline-size:max-content}
  /* Colors Decorations */
  .b-n{background:none}
  .bs-c{background-size:contain}
  .bp-c{background-position:center}
  .bp-r{background-position:right}
  .bc-sur{background-color:var(--sur)}
  .bc-surcnt{background-color:var(--sur-cnt)}
  .bc-pri{background-color:var(--pri)}
  .bc-green{background-color:var(--green)}
  .bc-yellow{background-color:var(--yellow)}
  .bc-red{background-color:var(--red)}
  .c-pri{ color:var(--pri)}
  .c-onsur{color: var(--on-sur)}
  .c-onpri{color:var(--on-pri)}
  .c-ongreen{color:var(--on-green)}
  .c-onyellow{color: var(--on-yellow)}
  .c-onred{color:var(--on-red)}
  .bo-n{border:none}
  .bo-0{border:0}
  .bob-bgct{border-bottom: var(--b) var(--bgc-t)}
  .bo-out{border: var(--b) var(--out)}
  .bot-out{border-top: var(--b) var(--out)}  
  .bor-out{border-right: var(--b) var(--out)}
  .bob-out{border-bottom: var(--b) var(--out)}
  .bol-out{border-left: var(--b) var(--out)}
  .bo-pri{border: var(--b) var(--pri)}
  .bo-onsur{border: var(--b) var(--on-sur)}
  .bot-onsur{border-top: var(--b) var(--on-sur)}  
  .bor-onsur{border-right: var(--b) var(--on-sur)}
  .bob-onsur{border-bottom: var(--b) var(--on-sur)}
  .bol-onsur{border-left: var(--b) var(--on-sur)}
  .bo-outvar{border: var(--b) var(--out-var)}
  .bot-outvar{border-top: var(--b) var(--out-var)}
  .bol-outvar{border-left: var(--b) var(--out-var)}
  .bor-outvar{border-right: var(--b) var(--out-var)}
  .bo-outgreen{border: var(--b) var(--green-hov)}
  .bot-outgreen{border-top: var(--b) var(--out-green)}
  .bor-outgreen{border-right: var(--b) var(--out-green)}
  .bob-outgreen{border-bottom: var(--b) var(--out-green)}
  .bol-green{border-left: var(--b) var(--green)}
  .bor-var{border-radius:var(--br)}
  .bor-9999{border-radius:9999px}
  .botlr-var{border-top-left-radius:var(--br)}
  .botrr-var{border-top-right-radius:var(--br)}
  .botlr-9999{border-top-left-radius:9999px}
  .botrr-9999{border-top-right-radius:9999px}
  .boblr-9999{border-bottom-left-radius:9999px}
  .bobrr-9999{border-bottom-right-radius:9999px}
  .ls-n{list-style:none}
  .c-p{cursor:pointer}
  .o-0 {opacity:0}
  .t-tY-19r{transform: translateY(19rem);}
  /* Text */
  .ff-main{font-family:var(--ff-main)}
  .ff-mono{font-family:var(--ff-mono)}
  .fs-06r{font-size:.6rem}
  .fs-07r{font-size:.7rem}
  .fs-08r{font-size:.8rem}
  .fs-09r{font-size:.9rem}
  .fs-1p1r{font-size:1.1rem}
  .fs-1p2r{font-size:1.2rem}
  .fs-1p3r{font-size:1.3rem}
  .fs-1p5r{font-size:1.5rem}
  .fs-2r{font-size:2rem}
  .fs-3r{font-size:3rem}
  .fw-200{font-weight:200}
  .fw-400{font-weight:400}
  .lh-1{line-height:1}
  .lh-1p5{line-height:1.5}
  .lh-1p8{line-height:1.8}
  .lh-2{line-height:2}
  .ta-c{text-align:center}
  .td-n{text-decoration:none}
  .to-m {text-orientation:mixed}
  .wm-slr{writing-mode:sideways-lr}
  /* SVG */
  .svg-s-pri{stroke:var(--pri)}
  .svg-s-onpri{stroke:var(--on-pri)}
  .svg-f-onsur{fill:var(--pri)}
  .svg-s-onsur{stroke:var(--on-sur)}
  .svg-s-ongreen{stroke:var(--on-green)}
  .svg-s-onyellow{stroke:var(--on-yellow)}
  .svg-s-onred{stroke:var(--on-red)}
  .svg-sw-1p5{stroke-width:1.5}
  .svg-sw-2{stroke-width:2}
  /* Misc */
  .us-n{user-select: none;}
  .hide{
    display: none !important;
  }
    /* Show to screen readers*/
  .hide-v{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  /* Transitions Animations */
  .btn:hover {
    transition: box-shadow .5s ease-in-out 0s;
    box-shadow: 0px 1px 2px 0px var(--bs-rgba-var1), 0px 2px 2px 1px var(--bs-rgba-var1);
  }
  .close-btn:hover {
    transition: background-color .5s ease-in-out 0s;
    background-color: var(--sur);
  }
  .close-btn:hover .icn-close {
    transition: stroke .5s ease-in-out 0s;
    stroke: var(--pri-hov);
  }
  .dis-btn:hover{
    transition: background-color .5s ease-in-out 0s;
    background-color: var(--pri-hov);
  }
  .bs-var1 {
    -webkit-shadow: 0px 0px 1px 0px var(--bs-rgba-var1), 0px 3px 1px 1px var(--bs-rgba-var1);
    box-shadow: 0px 1px 2px 0px var(--bs-rgba-var1), 0px 2px 2px 1px var(--bs-rgba-var1);
  }
  .consent-dis {
    bottom: -20rem;
  }

/* ODC */

.odc-wrap {
  bottom: -20rem;
}
.no-up-hugo:hover,
.no-up-alp:hover {
 transition: background-color .5s ease-in-out 0s;
 text-decoration: none;
 background-color: var(--green-hov);
 color:var(--on-green);  
}
.up-hugo:visited,
.up-alp:visited {
  color:var(--on-yellow);
}
.up-hugo:hover,
.up-alp:hover{
  transition: background-color .5s ease-in-out 0s;
  text-decoration: none;
  background-color: var(--yellow-hov);
  color:var(--on-yellow);
}
.er-hugo:hover,
.er-alp:hover{
  transition: background-color .5s ease-in-out 0s;
  text-decoration: none;
  background-color: var(--red-hov);
  color: var(--on-red)
}
#bug-icn {
  stroke: var(--red);
}
a.odc-war-link{
  text-decoration-color: var(--on-yellow);
  color: var(--on-yellow);
}
#pinned-icn{
  stroke: var(--pri);
}

.show-trans {
  transition: bottom 1s ease-in-out 0s;
  bottom:0;
}
/* DEV */
.wrap{

}


.single-header{
  z-index: 1;
  min-height: 10rem;
  background-color: var(--sur);
}
.single-h1{
  margin-top:0;
  margin-bottom: 8rem;
}
.single-nav-wrap{
  opacity:0;
}
/* IMPORTANT KEEP ORDER */
.fade-out {
  transition: opacity 1s ease-out 0s;
  opacity:0;
}
.fade-in{
  transition: opacity .3s ease-in 0s;
    opacity:1;
}

.single-article{
  border-radius: var(--br);
}
.single-h1{
  margin-top: 8rem;
}
.content{
  background-color: var(--sur-cnt);
  padding: 1rem;
}