/* alpha theme css - v.0.0.1 | MIT License | https://www.oxypteros.com  */
:root {
  --font-fallback: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif, cursive;
  --font-headings:'Comfortaa', var(--font-fallback);
  --font-text: 'Roboto Flex', var(--font-fallback);
  --font-mono: 'Roboto Mono', var(--font-fallback);
  --color-light: rgb(251 252 253);/* #fbfcfd*/
  --color-dark: #0a0d0a;/* #39413e*/
  --color-primary:#4d644d;
  --color-secondary-light:#edf5fe;

  --dark-color-h1: rgb(37 100 90);
  --dark-color-h2: rgb(22, 118, 102);
  --accent: rgb(87 15 36);/* #570f24*/
  --green: rgb(109 122 95); /*#6d7a5f*/
  --radius:3px;
  --b1:2px solid red;
  --b2:2px solid green;
  --b3:2px solid blue;
}
* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
html {
  font-size:18px;

}
body {
  font-family: var(--font-text);
  background-color: var(--color-primary);
  min-height:100vh;
}
.page-grid {
  display:grid;
  grid: 3em / auto minmax(300px, 75rem) auto;
  height:100%;
  background-color: var(--color-light);
}
.page-header {
  grid-area: 1/1/1/-1;
  display:grid;
  grid: 10vw / auto minmax(300px, 75rem) auto;
  align-content: center;
  background: linear-gradient( 45deg, var(--color-secondary-light) 60%, var(--color-light));
  border-bottom: 1px solid #afd6fd;
}
main {
  grid-area: 2/2/2/2;
  padding: .5em;
}
article {
  margin-top: 2rem;
}
.article-cover{
  display: grid;
  grid: 40% 60% / 60% 40%;
  height:calc(100vh - 20vw);
}
article h1 {
  grid-area: 1/1/1/-1;
  place-self: center;
  font-family: var(--font-headings);
  font-size: 2rem;
  font-weight: 100;
  color: var(--color-primary);
  text-align: center;
}
.article-info {
  grid-area: 2/1/2/1;
  align-self: end;
  font-size: .9rem;
  font-weight: 100;
}
.article-body {
  margin-top: 2rem;
  grid-area: 3/1/3/3;
}
.page-logo {
  grid-area: 1/2/1/2;
  place-self: center start;
  margin-left:.5em;
}
.page-logo img{
 height: clamp(18px, 1.5rem, 2.618rem);
}
.page-header-nav {
  grid-area: 1/2/1/2;
  place-self: center end;
  margin-right:.5em;
}
.page-header-nav ul{
  list-style-type: none;
}

.page-header-nav li{
  display:inline-block;
}
.page-header svg {
  fill:#003610;
}
