.stories-main{
  min-height: calc(100dvh - 4.5rem);
  height: auto;
  flex-grow: 1;
}
/*
* CARDS
*/
.section-stories{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.section-h2{
  font-size: 2rem;
  font-weight: 200;
}
.container {
  margin: 3rem .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
}


.card-story-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}
.card-story-bg{
  grid-area: 1/1/1/1;
  place-self: center;
  font-size: 7rem;
  font-weight: 700;
  color: var(--rgba-pc-o5);
  line-height: 0;
}
.card-story-main{
  grid-area: 1/1/1/1;
  place-self: center;
}
.card-story{
  width: 300px;
  height: fit-content;
}

.card-story-link {
  display: grid;
  grid: 1fr/ 300px;
  text-decoration: none;
}
.card-story-link:hover {
  color: var(--pc);
}
.card-story-link:hover .card-story-bg{
  color: var(--bgc-s);
}
.card-story-link:hover .card-story-title{
  font-weight: 500;
  color: var(--pc);
}

/*
* Book Section
*/


/*
* Footer nav
*/
 .footer-nav-wrap{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   margin-bottom: 1rem;
   width: 100%;
   max-width: var(--mw-px);
   
 }
 .footer-nav{
   margin-left: .5rem;
   font-size: .9rem;
   
 }
 .footer-social{
   margin-right: .5rem;}
 .pi{
   margin:0;
 }