/* alpha theme css - v.0.0.1 | MIT License | https://www.oxypteros.com  */
:root {
  --font-fallback: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif, cursive;
  --font-display:'M PLUS Rounded 1c', var(--font-fallback);
  --font-text: 'Inter', var(--font-fallback);

  --light-color: rgb(251 252 253);/* #fbfcfd*/
  --dark-color: rgb(57 65 62);/* #39413e*/
  --dark-color-headings: rgb(37 100 90);
  --accent: rgb(87 15 36);/* #570f24*/
  --green: rgb(109 122 95); /*#6d7a5f*/
  --b1:2px solid red;
  --b2:2px solid green;
  --b3:2px solid blue;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  font-family: var(--font-text);
  background-color: var(--light-color);
  color: var(--dark-color);
  height:100vh;
}

/* Grid */
.main-grid {
  display:grid;
  grid: 2.5em 1fr auto auto / auto 2em minmax(200px, 100em) auto;
  min-height:100vh;
}
header {
  grid-area: 1/2/1/3;
  width:100vw;
  display:grid;
  grid: 2em / 2em 1fr 2em;
  place-items: center;
  border:var(--b1)
}
.menu-header {
  grid-area: 1/1/1/1;
}
.-logo-header {
  grid-area: 1/2/1/2;
}
.vertical-nav {
  grid-area: 2/2/-1/2;
  border:var(--b2);
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
main {
  grid-area: 2/3/2/3;
  border:var(--b3);
}
.main-aside {
  grid-area:4/3/4/3;
}
.main-footer {
  grid-area: 5/3/5/3;
}
/* GENERAL */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  color: var(--dark-color-headings);
}
/* Hamburger header menu */
svg {
  fill: var(--dark-color-headings);
}
#open-header-menu {
  background-color: var(--light-color);
  padding:2px;
  /*outline:none;
  border:none;*/
}
#close-header-menu {
  float:right;
  background-color: var(--light-color);
  border:0;
}
#open-header-menu:focus, #close-header-menu:focus { 
outline:invert;
border: 2px solid var(--accent);
border-radius: 3px;
}

button:focus:not(:focus-visible) {
 /* undo all the above focused button styles

 if the button has focus but the browser wouldn't normally

 show default focus styles */
}

button:focus-visible { 
 /* some even *more* exciting button focus styles */ 
}
/* Skip to content */
#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:focus {
  height: auto;
  position: static;
  width: auto;
}