/* Global styles for alpha theme v0.0.1-beta - MIT License - https://oxypteros.com/themes/alpha */

@font-face {
font-family: 'Inter var';
font-weight: 100 900;
font-display: swap;
font-style: normal;
font-named-instance: 'Regular';
src: url("../fonts/Inter.var.woff2?v=3.19") format("woff2");
}
@font-face {
font-family: 'Inter var';
font-weight: 100 900;
font-display: swap;
font-style: italic;
font-named-instance: 'Italic';
src: url("../fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}
/*
* END FONTS
*/
/* Global root values */
:root {
  --ff: "Inter var"; /* Main font family */
  --ff-m: "Anonymous Pro"; /* Monospace font*/
  --ff-f: sans-serif; /* Main fallback font */
  --ff-mf: monospace; /* Monospace fallback font */
  --ff-main: var(--ff), var(--ff-f); /* Main font with fallback*/
  --ff-mono: var(--ff-m), var(--ff-mf); /* Monospace font with fallback */
  --mw-px: 794px; /* Max width pixels */
  --mw-ch: 70ch; /* Max width characters */
  --b: .1rem solid;
  --b-b: .125rem solid; /* Border width and type */
  --br: .2rem; /* Border Radius */
}
/* Alpha theme specific values (LIGHT, default) */
body {
  /*
  --sur: #f0f0f0;
  --sur-cnt: #f4f9fa;
  --pri: #005d6b;
  --pri-hov: #00424e;
  --sec:#6b948c;
  --sec-cnt:#424d47;
  --out:#949B9E;
  --out-var:#3f484b;
  --on-sur:#202124;
  --on-sur-cnt:#191c1d;
  --on-pri:#f0f0f0;
  --on-pri-hov:#a8edff;
  --on-sec:#202124;
  --on-sec-cnt:#f0f0f0;
  --bs-rgba-var1:rgba(0,0,0,.15);
  --green: #d5e8cf;
  --green-hov:#b7d4ae;
  --on-green:#101f10;
  --out-green:#72796f;
  --yellow:#ffb960;
  --yellow-hov:#a76900;
  --on-yellow:#362000;
  --red:#ba1a1a;
  --red-hov:#93000a;
  --on-red:#fff;
  --white: #fff;
  --signature: url(/img/sig/oxypteros-l.svg);
  --icn-404:url(/alpha/icons/droid.png); 
/*
  --bgc: #f4f9fa;
  --bgc-s: #e6e6e6;
  --bgc-t: #fff;
*/
--pri: #005d6b;
--on-pri:#f0f0f0;
--sec: #4b6268;
--on-sec:#fff;
--bg: #ebebeb;
--on-bg: #191c1d;
--sur: #fafafa;
--on-sur:#131313;
--error:#ba1a1a;
--on-error:#fff;
--att:#ffb960;
--on-att:#362000;
--out:#6f797b;
--out-sec:#dbe4e7;
--anchor: url(../img/icons/anchor.svg);
--blank: url(../img/icons/blank.svg);
--btn-sha:0px 3px 1px -2px rgba(0, 0, 0, .2) ,  0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
--btn-sha2:0px 4px 3px -2px rgba(0, 0, 0, .4) ,  0px 2px 2px 0px rgba(0, 0, 0, .24), 0px 1px 5px 0px rgba(0, 0, 0, .22);
}
/* Dark alpha theme */
body.alpha-dark {
  --sur:#202124;
  --sur-cnt:#292a2d;
  --pri:#86b9b0;
  --pri-hov:#b1cdd2;
  --pri-cnt:#4c7273;
  --sec:#005c70;
  --sec-cnt:#004e61;
  --out:#2a2c30;
  --out-var:#3f4947;
  --on-sur:#edf0f1;
  --on-sur-cnt:#e8eaed;
  --on-pri:#242424;
  --on-sec:#fafafa;
  --on-sec-cnt:#b7eaff;
  --bs-rgba-var1:rgba(0,0,0,.25);
  --green:#3b4b39;
  --green-hov:#576655;
  --on-green:#d5e8cf;
  --out-green:#8c9388;
  --yellow:#ffb960;
  --yellow-hov:#a76900;
  --on-yellow:#362000;
  --red:#ba1a1a;
  --red-hov:#93000a;
  --on-red:#fff;
  --white: #fff;
  --signature: url(/img/sig/oxypteros-d.svg);
  --icn-404:url(/alpha/icons/droid.png); 
}
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: var(--ff-main); }
}
body {
  display: flex;
  flex-direction: column; 
  min-height: 100dvh;
  margin:0;
  padding: 0;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--bg);  
  color: var(--on-bg);
}
/* Default styles */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
a { 
  color: var(--pri);
  text-decoration: underline solid var(--pri) .05em;
  text-underline-offset:.1em;
}
a:visited {
  color: var(--on-bg);
  text-decoration: underline solid var(--on-bg) .05em;
}
a:hover,
a:active {
  color:var(--pri-hov);
  text-decoration: underline dotted var(--pri-hov) .05em;
  text-underline-offset:.1em;
}
p > a[href^="#"]::after{
  content: '';
  display: inline-block;
  background: var(--anchor) no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-bottom: .2rem;
  margin-left:.1rem;
}
p > a[target=_blank]::after
{
  content: '';
  display: inline-block;
  background: var(--blank) no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-bottom:.2em;
  margin-left:.1em;
}
nav a { text-decoration: none; }
nav > ul{
  margin:0;
  padding: 0;
  list-style-type: none;
}
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens:auto;
  hyphens: auto; 
}
button { cursor: pointer; }
details summary { cursor: pointer; }
details summary > * { display: inline; }
abbr {
  cursor: help;
}
code{
  font-family: var(--ff-mono);
}
s{
  text-decoration: line-through var(--red) .15em;
}
.skip {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  opacity: 0;
}
.skip:focus {
  left: .5rem;
  opacity: 1;
}
.signature{
  background: var(--signature) no-repeat;
}


.h2-cnt{
  font-size: 1.2rem;
  font-weight: 200;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 500px;
}
.cell,
.s-cell,
.xs-cell,
.xxs-cell{
  min-width: 150px;
  max-width: 200px;
  padding: .5rem;
}
.cell{
  height: 100px;
}
.s-cell{
  height: 70px;
}
.xs-cell{
  height: 40px;
}
.xxs-cell {
  height:20px;
}
.btlr{
  border-top-left-radius: var(--br);
}
.btrr{
  border-top-right-radius: var(--br);
}
/* Light Colors */
.primary{
  background-color: var(--pri);
  color: var(--on-pri);
}
.on-primary{
  background-color: var(--on-pri);
  color: var(--pri);
}
.secondary{
  background-color: var(--sec);
  color: var(--on-sec);
}
.on-secondary{
  background-color: var(--on-sec);
  color: var(--sec);
}
.background{
  background-color: var(--bg);
  color: var(--on-bg);
}
.on-background{
  background-color: var(--on-bg);
  color: var(--bg);
}
.surface{
  background-color: var(--sur);
  color: var(--on-sur);
}
.on-surface{
  background-color: var(--on-sur);
  color: var(--sur);
}
.error{
  background-color: var(--error);
  color: var(--on-error);
}
.on-error{
  background-color: var(--on-error);
  color: var(--error);
}
.attention{
  background-color: var(--att);
  color: var(--on-att);
}
.on-attention{
  background-color: var(--on-att);
  color: var(--att);
}
.outline{
  background-color: var(--out);
  color:#000;
}
.secondary-outline{
  background-color: var(--out-sec);
  color:#000;
}
/* Links */
/* Primary Link Button */
a { 
  color: var(--on-sur);
  font-weight: 400;
  text-decoration: underline solid var(--pri) .09em;
  text-underline-offset:.125em;
}
a:visited {
  color: var(--on-sur);
  text-decoration: underline solid var(--on-sur) .09em;
  font-weight:300;
}
a:hover,
a:active {
  color:var(--on-sur);
  text-decoration: underline solid var(--pri) .09375em;
  text-underline-offset:.125em;
}
.internal > a[href^="#"]::after{
  content: '';
  display: inline-block;
  background: var(--anchor) no-repeat;
  background-size: contain;
  width: .75em;
  height: .75em;
  margin-bottom: .25em;
  margin-left:.125em;
}
.external > a[target=_blank]::after
{
  content: '';
  display: inline-block;
  background: var(--blank) no-repeat;
  background-size: contain;
  width: .75em;
  height: .75em;
  margin-bottom:.25em;
  margin-left:.125em;
}
a.btn-link,
a.btn-link:visited{
  height: calc(2.6rem - 2px);
  padding: 0 .75rem;
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--on-bg);
  text-decoration: none;
  background-color: var(--sur);
  border: 1px solid var(--out);
  border-radius: var(--br);
  transition: box-shadow .3s ease-in-out 0s;
  transition: color .3s ease-in-out 0s;
}
a.btn-link:focus,
a.btn-link:focus-visible{
  outline: 2px solid var(--pri);
  outline-offset: 3px;
  color: var(--pri);
}
a.btn-link:hover{
  color:var(--pri);
  box-shadow: var(--btn-sha);
  transition: color .3s ease-in-out 0s;
  transition: box-shadow .3s ease-in-out 0s;
}
/*
* Buttons 
*/
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  height: 2.6rem;
  min-width: 2.6rem;
}
/* Primary Buttons
/* Primary text button */
.btn-txt{
  padding: 0 .75rem;
  border: 1px solid var(--out);
  border-radius: var(--br);
  background-color: var(--sur);
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--on-bg);
  transition: box-shadow .3s ease-in-out 0s;
  transition: color .3s ease-in-out 0s;
}
.btn-txt:hover{
  color:var(--pri);
  box-shadow: var(--btn-sha);
  transition: color .3s ease-in-out 0s;  
  transition: box-shadow .3s ease-in-out 0s;
}
.btn-txt:focus,
.btn-txt:focus-visible{
  outline: 2px solid var(--pri);
  outline-offset: 3px;
  color: var(--pri);
}

/* Primary Button Icon + Text */
.btn-icn-txt{
  gap: .5rem;
  padding: 0 .75rem;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--on-bg);
  text-decoration: none;
  background-color: var(--sur);
  border: 1px solid var(--out);
  border-radius: var(--br);
  transition: box-shadow .3s ease-in-out 0s;
  transition: color .3s ease-in-out 0s;
}
.icn-txt-btn{
  width:1.5rem;
  height: 1.5rem;
  stroke: var(--on-bg);
  stroke-width: 1.5;
}
.btn-icn-txt:focus,
.btn-icn-txt:focus-visible{
  outline: 2px solid var(--pri);
  outline-offset: 3px;
  color: var(--pri);
}
.btn-icn-txt:hover,
.btn-icn-txt:active{
  color:var(--pri);
  box-shadow: var(--btn-sha);
  transition: color .3s ease-in-out 0s;
  transition: box-shadow .3s ease-in-out 0s;
}
.btn-icn-txt:hover .icn-txt-btn,
.btn-icn-txt:focus .icn-txt-btn{
  stroke: var(--pri);
}
/* Primary Outline Icon button */
.btn-icn{
  border: 1px solid var(--out);
  border-radius: var(--br);
  background-color: var(--sur);
  transition: box-shadow .3s ease-in-out 0s;
  transition: color .3s ease-in-out 0s;
}
.icn-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--on-bg);
  stroke-width: 1.5;
}
.btn-icn:focus,
.btn-icn:focus-visible{
  outline: 2px solid var(--pri);
  outline-offset: 3px;
  color: var(--pri);
}
.btn-icn:hover{
  color:var(--pri);
  box-shadow: var(--btn-sha);
  transition: color .3s ease-in-out 0s;
  transition: box-shadow .3s ease-in-out 0s;
}
.btn-icn:hover .icn-btn,
.btn-icn:focus .icn-btn{
  stroke: var(--pri);
}

/* Secondary Buttons */
/* Secondary text button */
.sec-btn-txt{
  padding: 0 .75rem;
  border:none;
  border-radius: var(--br);
  background-color: inherit;
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--on-bg);  
  box-shadow: var(--btn-sha);
  transition: box-shadow .3s ease-in-out 0s;
  transition: color .3s ease-in-out 0s;
}
.sec-btn-txt:hover {
  color: var(--pri);
  box-shadow: var(--btn-sha2);
  transition: color .3s ease-in-out 0s;  
  transition: box-shadow .3s ease-in-out 0s;
}
.sec-btn-txt:focus,
.sec-btn-txt:focus-visible{
  outline: 1px solid var(--pri);
  color: var(--pri);
}

/* Secondary Button Icon + Text */
.sec-btn-icn-txt{
  gap: .5rem;
  padding: 0 .75rem;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--on-bg);
  text-decoration: none;
  background-color: inherit;
  border: none;
  border-radius: var(--br);
  box-shadow: var(--btn-sha);
  transition: box-shadow .3s ease-in-out 0s;
  transition: color .3s ease-in-out 0s;
}
.icn-txt-sec-btn{
  width:1.5rem;
  height: 1.5rem;
  stroke: var(--on-bg);
  stroke-width: 1.5;
}
.sec-btn-icn-txt:focus,
.sec-btn-icn-txt:focus-visible{
  outline: 1px solid var(--pri);
  color: var(--pri);
}
.sec-btn-icn-txt:hover{
  color:var(--pri);
  box-shadow: var(--btn-sha2);
  transition: color .3s ease-in-out 0s;
  transition: box-shadow .3s ease-in-out 0s;
}
.sec-btn-icn-txt:hover .icn-txt-sec-btn,
.sec-btn-icn-txt:focus .icn-txt-sec-btn{
  stroke: var(--pri);
}
/* Secondary Outline Icon button */
.sec-btn-icn{
  border: none;
  border-radius: var(--br);
  background-color: inherit;
  transition: box-shadow .3s ease-in-out 0s;
  transition: color .3s ease-in-out 0s;
}
.icn-sec-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--pri);
  stroke-width: 1.5;
}
.sec-btn-icn:focus,
.sec-btn-icn:focus-visible{
  outline: 1px solid var(--pri);
  color: var(--pri);
  box-shadow: var(--btn-sha2);
}
.sec-btn-icn:hover{
  color:var(--pri);
  box-shadow: var(--btn-sha);
  transition: color .3s ease-in-out 0s;
  transition: box-shadow .3s ease-in-out 0s;
}
.sec-btn-icn:hover .icn-sec-btn,
.sec-btn-icn:focus .icn-sec-btn{
  stroke: var(--pri);
}


.d-f{display: flex}
.fd-c{flex-direction: column}
.fw-w{ flex-wrap: wrap}
.jc-c{justify-content: center}
.ai-c{align-items: center}
.g-05r{gap:.5rem}