@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-300.woff2') format('woff2'), 
       url('../fonts/inter-v12-latin_greek-300.woff') format('woff'); 
       font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/comfortaa-v40-latin_greek-300.woff2') format('woff2'),
       url('../fonts/comfortaa-v40-latin_greek-300.woff') format('woff');
       font-display: swap;
}
:root {
  /* Fonts Variables */
  --ff-text: 'Inter';
  --ff-display: 'Comfortaa';
  --ff-monospace: 'Anonymous Pro';
  --font-size:18px;

  /* Color Variables */
    /* Light theme */
  --primary-light: #2b6862;
  --secondary-light: #4a6360;
  --tertiary-light: #47617a;
  --error-light: #ba1a1a;
  --warning-light: #fa9814;
  --background-light: #fafdfb;
  --background-shade-light: #fafbfd;
  --outline-light: #6f7977;
  --outline-shade-light: #8e9190;
  --text-light: #191c1c;
  
 
  /* Measurements */
    /* Font based, 2px, 6px, 9px, 18px, 27px, 36px */
    --xx-small-fb: calc(var(--font-size) / 9);
  --x-small-fb: calc(var(--font-size) / 3); 
  --small-fb: calc(var(--font-size) / 2);
  --default-fb: var(--font-size);
  --medium-fb: calc(var(--font-size) + (var(--font-size) / 2));
  --large-fb: calc(var(--font-size) * 2);

    /* vw based*/
  --x-small-vw: 1vw;
  --small-vw: 2vw;
  --default-vw: 4.5vw;
  --medium-vw: 6vw;
  --large-vw: 9vw;

    /* vh based */
  --x-small-vh: 1vh;
  --small-vh: 2vh;
  --default-vh: 4.5vh;
  --medium-vh: 6vh;
  --large-vh: 9vh;

}
/* DEBUG */
.b1 { border: 2px solid red; }
.b2 { border: 2px solid blueviolet; }
.b3 { border: 2px solid green; }
.bg1 { background-color: orangered; }
.bg2 { background-color: skyblue; }
.bg3 { background-color: greenyellow; }

body {
  font-family: var(--ff-text);
  font-size: var(--font-size);
  font-weight: 300;
  line-height: 1.4;
  background-color: var(--background-light);
  color: var(--text-light);
}

main {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-display);
  font-weight: 300;
  margin-block-start: .67em;
  margin-block-end: .67em;
}

h1,
.h1 { font-size: var(--large-fb); }

h2,
.h2 { font-size: calc(var(--medium-fb) + var(--x-small-fb)); }

h3, 
.h3 { font-size:var(--medium-fb); }

h4, 
.h4 { font-size: calc(var(--medium-fb) - var(--x-small-fb)); }

h5, 
.h5 { font-size: var(--normal-fb); }

h6, 
.h6 { font-size: calc(var(--normal-fb) - var(--x-small-fb)); }

p {
  text-align: justify;
  hyphens: auto;
  margin-bottom: var(--normal-fb);
}

a:focus {
  outline: var(--xx-small-fb) solid var(--warning-light);
  border-radius: var(--xx-small-fb);
}

.grid { display: grid; }
.flex { display: flex; }

.link {
  color: var(--primary-light);
}
.neutral-text {
  color: var(--secondary-light);
}
/* Frameworks */
#story-header,
#story-cover,
#story-copyright, 
#story-toc,
.content-grid,
#story-footer {
  grid: auto / auto minmax(200px, 1024px) auto;
}

.content-grid {
  display: grid;
  grid: auto / auto minmax(200px, 1024px) auto;
}

.story-nav,
.story-suptitle, 
.info-icon,
.toc,
.content,
.footer-content
{
  grid-area: 1/2/1/2;
}
.story-title,
.story-disclaimer 
 {
  grid-area: 2/2/2/2;
}

.story-author, 
.story-copy-info {
  grid-area: 3/2/3/2;
}

/* Story Header */
.story-nav {
  margin: var(--medium-fb) 0 var(--medium-fb) var(--small-fb);
  justify-content: space-between;
}

.story-nav svg {
  width: var(--medium-fb);
  height:var(--medium-fb);
  fill: var(--secondary-light);
}

.story-nav svg:hover {
  fill: var(--primary-light);
}

.previous-link {
  margin-right: var(--small-fb);
}

.story-parts {
  font-size: .9rem;
  color: var(--tertiary-light);
  font-weight: bold;
}

.next-link {
  margin-left: var(--small-fb);
}

/* Story Cover */
#story-cover {
  margin: var(--large-fb) var(--small-fb) 0 var(--small-fb);
  place-items: end;
  text-align: right;
}
.story-suptitle {
  font-size: .9rem;
  color: var(--tertiary-light);
}

.story-title {
  margin-top: calc(var(--normal-fb) * -1);
  margin-bottom: var(--large-fb);
  color: var(--primary-light);
}

.story-author {
  margin-bottom: calc(var(--large-fb) + var(--medium-fb));
}

.story-author a:link {
  text-decoration: none;
  color: var(--tertiary-light);
}

.story-author a:hover {
  color: var(--primary-light);
  text-decoration: underline;
  text-decoration-color: var(--outline-light);
}

#story-copyright {
  margin-bottom: calc(var(--large-fb) + var(--medium-fb));
  border-top: var(--xx-small-fb) solid var(--outline-light);
  border-bottom: var(--xx-small-fb) solid var(--outline-light);
  background-color: var(--background-shade-light);
  font-size: .9rem;
}

#story-copyright .info-icon {
  margin-top: calc((var(--large-fb) / 2) * -1);
  margin-left: calc(50% - (var(--large-fb) / 2));
}

#story-copyright svg {
  fill: var(--outline-light);
  height: var(--large-fb);
  width: var(--large-fb);
}

#story-copyright a:link {
  text-decoration: none;
  color: var(--text-light)
}

#story-copyright a:visited {
  color:var(--text-light);
}

#story-copyright a:hover {
  color: var(--primary-light);
  text-decoration: underline;
  text-decoration-color: var(--outline-light);
}

.story-disclaimer{
  max-width:500px;
  padding: 0 var(--small-fb);
}

.story-copy-info {
  margin-top: var(--default-fb);
  margin-bottom: calc((var(--large-fb) / 2 ) + 1em );
  padding: 0 var(--small-fb);
}

.story-copy-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

#story-toc {
  margin: calc(var(--large-fb) + var(--medium-fb)) var(--small-fb);
}
.toc ol {
  counter-reset: li;
}
.toc li:after {
  counter-increment: li;
  content: "................. " counter(li) " ";
}

.content-grid {
  margin:0 var(--small-fb);
}

.content-grid a:link { 
  color: var(--tertiary-light);
  text-decoration-color: var(--outline-light);
}

.content-grid a:visited { 
  color: var(--text-light);
  text-decoration: underline dotted;
}

.content-grid a:hover {
  color: var(--primary-light);
}
.content-grid a[target=blank]:after {
  content:'';
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 2px;
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='12px' viewBox='0 0 24 24' width='12px' fill='%2347617a'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M18 19H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h5c.55 0 1-.45 1-1s-.45-1-1-1H5c-1.11 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-6c0-.55-.45-1-1-1s-1 .45-1 1v5c0 .55-.45 1-1 1zM14 4c0 .55.45 1 1 1h2.59l-9.13 9.13c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L19 6.41V9c0 .55.45 1 1 1s1-.45 1-1V4c0-.55-.45-1-1-1h-5c-.55 0-1 .45-1 1z'/%3E%3C/svg%3E%0A");
}

.content p:first-of-type::first-letter,
.content h2 + p::first-letter, 
.content h3 + p::first-letter, 
.content h4 + p::first-letter {
  padding-left: var(--medium-fb);
}

footer {
  position:fixed;
  bottom: 0;
  width:100vw;
}

#story-footer {
  padding: var(--xx-small-fb) var(--small-fb);
  background-color: var(--background-shade-light);
  border-top: var(--xx-small-fb) solid var(--outline-shade-light);
}

.footer-content svg {
  width: var(--medium-fb);
  height:var(--medium-fb);
  fill: var(--secondary-light);
  margin: 0 auto;
}
.footer-content svg:hover {
  fill: var(--primary-light);
}
.footer-content svg:focus {
  outline: var(--xx-small-fb) solid var(--warning-light);
  border-radius: var(--xx-small-fb);
  fill: var(--primary-light);
}

#footer-nav button {
  flex-direction: column;
  border:0;
  background-color: var(--background-shade-light);
}

#footer-nav button span {
 color: var(--tertiary-light);
 margin: -2px auto;
 font-size: .65rem;
}


#footer-nav button:focus {
  border:0;
  background-color: #ccc;
}

@media only screen and (min-width: 800px) {

}
/* Js Resets */

/* Hidden */
.hid, 
[hidden] {
  display: none !important;
}

/* Visually Hidden */
.vh {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

}

/* Invisibile */
.inv {
  visibility: hidden;
}