/* Global styles for alpha theme v0.0.1-beta - MIT License - https://oxypteros.com/dev/alpha */
:root { 
  --ff: "Inter"; /* Main font family */
  --ff-m: "Fira Code"; /* Monospace font*/
  --ff-f: sans-serif; /* Main fallback font */
  --ff-mf: monospace; /* Monospace fallback font */
  --ff-main: var(--ff), var(--ff-f); /* Main font with fallback*/
  --ff-mono: var(--ff-m), var(--ff-mf); /* Monospace font with fallback */
  --mw-rem: 50rem; /* Max width rem */
  --mw-ch: 70ch; /* Max width characters */
  --b-01r: .1rem solid; /* Thin border (width type) */
  --b-0125r: .125rem solid; /* Sec. border (width and type) */
  --br-02r: .2rem; /* Border Radius */
  /* Inter settings */
  font-optical-sizing: auto; 
  font-feature-settings: "dlig" 1,  "ss02" 1, "ss01" 1;
}
/*
* Local Fonts
*/
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/Inter.woff2?v=3.19") format("woff2-variations"),
       url("../fonts/Inter.woff2?v=3.19") format("woff2");
  src: url("../fonts/Inter.woff2?v=3.19") format("woff2") tech("variations");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("../fonts/Inter-Italic.woff2?v=3.19") format("woff2-variations"),
       url("../fonts/Inter-Italic.woff2?v=3.19") format("woff2");
  src: url("../fonts/Inter-Italic.woff2?v=3.19") format("woff2") tech("variations");
}
@font-face {
  font-family: "Fira Code";
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/FiraCode.woff2') format('woff2-variations'),
       url('../fonts/FiraCode.woff') format('woff-variations');
  font-weight: 300 700;
  font-style: normal;
}
/* 
* Alpha light styles (default) 
*/
body {
/* Color Palette */
--pri: #005d6b;
--on-pri:#f0f0f0;
--sec: #4b6268;
--on-sec:#fff;
--bg: #ebebeb;
--on-bg: #191c1d;
--sur: #f8fafb;
--on-sur:#131313;
--error:#ba1a1a;
--on-error:#fff;
--att:#ffb960;
--on-att:#362000;
--out:#6f797b;
--out-sec:#dbe4e7;
/* Shadows */
--btn-sha:0px 3px 1px -2px rgba(0, 0, 0, .2) ,  0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
--btn-sha2:0px 4px 3px -2px rgba(0, 0, 0, .4) ,  0px 2px 2px 0px rgba(0, 0, 0, .24), 0px 1px 5px 0px rgba(0, 0, 0, .22);
/* Icons */
--anchor: url(../img/icons/anchor.svg);
--blank: url(../img/icons/blank.svg);
--icn-404:url(/alpha/icons/droid.png); 
--signature: url(/img/sig/oxypteros-l.svg);
}
/* 
* Alpha dark styles 
*/
.alpha-dark {
  /* Color Palette */
--pri: #52d7f1;
--on-pri:#00363f;
--sec: #334a50;
--on-sec:#cde7ee;
--bg: #191c1d;
--on-bg: #e1e3e4;
--sur: #212425;
--on-sur:#f0f0f0;
--error:#93000a;
--on-error:#ffdad6;
--att:#7b2f09;
--on-att:#ffdbce;
--out:#899295;
--out-sec:#3f484b;
/* Shadows */
--btn-sha:0px 3px 1px -2px rgba(0, 0, 0, .2) ,  0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
--btn-sha2:0px 4px 3px -2px rgba(0, 0, 0, .4) ,  0px 2px 2px 0px rgba(0, 0, 0, .24), 0px 1px 5px 0px rgba(0, 0, 0, .22);
/* Icons */
--anchor: url(../img/icons/anchor-d.svg);
--blank: url(../img/icons/blank-d.svg);--icn-404:url(/alpha/icons/droid.png); 
--signature: url(/img/sig/oxypteros-d.svg);
}

body {
  min-height: 100dvh;
  margin:0;
  padding: 0;
  font-family: var(--ff-main);
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--bg);  
  color: var(--on-bg);
}
/*
* Default Styles
*/
/* Default styles */
input,
textarea,
button,
select,
a { 
    -webkit-tap-highlight-color: transparent;
}
nav a { text-decoration: none; }
nav > ul{
  margin:0;
  padding: 0;
  list-style-type: none;
}
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens:auto;
  hyphens: auto; 
}
button { cursor: pointer; }
details summary { cursor: pointer; }
details summary > * { display: inline; }
abbr { cursor: help; }
code{ font-family: var(--ff-mono); }
s{ text-decoration: line-through var(--red) .15em; }
/* Links */
/* Primary Link Button */
a { 
  color: var(--on-sur);
  font-weight: 350;
  text-decoration: underline solid var(--pri) .0625em;
  text-underline-offset:.125em;
  transition: .3s ease-in-out 0s;
}
a:visited {
  color: var(--on-sur);
  text-decoration-color: var(--on-sur);
}
a:hover,
a:active {
  color:var(--on-sur);
  text-decoration: underline solid var(--pri) .125em;
  text-underline-offset:.125em;
  transition: .3s ease-in-out 0s;
}
a:focus {
  outline: .09375em solid var(--pri);
  outline-offset: .125em;
  border-radius: 1px;
}
p > a[href^="#"]::after{
  content: '';
  display: inline-block;
  background: var(--anchor) no-repeat;
  background-size: contain;
  width: .75em;
  height: .75em;
  margin-bottom: .25em;
  margin-left:.125em;
}
p > a[target=_blank]::after
{
  content: '';
  display: inline-block;
  background: var(--blank) no-repeat;
  background-size: contain;
  width: .75em;
  height: .75em;
  margin-bottom:.25em;
  margin-left:.125em;
}
/* Skip Link */
.skip {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  opacity: 0;
}
.skip:focus {
  left: .5rem;
  opacity: 1;
}
/*
* Hide
*/
.hidden,
.hide{
  display: none;
}
.vis-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
  color: var(--on-bg);
}
/* 
* Cover
*/
.index-cover {
  height: calc(100dvh - 3rem - 1rem); /* Minus top-bar height - cover padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:.5rem;
  background: var(--bg);
  color: var(--on-bg);
}
.index-cover-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h1-intro {
  font-size: 4rem;
  font-weight:200;
}
/* Language Drawer */
.drawer {
  display: inline-block;
  position: relative;
}
.icn-small {
  height: 1.2rem;
  width:1.2rem;
  stroke: var(--on-bg);
  stroke-width: 2;
}
.drawer summary {
  list-style: none;
  cursor: pointer;
}
.drawer summary::-webkit-details-marker {
  display: none;
}
.drawer .drawer-content {
  position: absolute;
  min-inline-size: max-content;
}
.lang-switch{
  left:0;
}
.drawer details[open] summary::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}
.drawer .drawer-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  min-width: 2.6rem;
  padding-left:  .4rem;
  padding-right: .4rem;
  border: none;
  border-radius: var(--br-02r);
  background-color: inherit;
  transition: .3s ease-in-out 0s;
}
.drawer .drawer-marker:hover{
  box-shadow: var(--btn-sha);
  transition: .3s ease-in-out 0s;
}
.drawer .drawer-content {
  display: flex;
  flex-direction: column;
  gap:.5rem;
  margin-top: .3rem;
  padding:.5rem;
  background-color: var(--sur);
  border: var(--b-01r) var(--out);
  border-radius: var(--br-02r);
}
.lang-link{
  display: flex;
  align-items: center;
  gap:.5rem;
}
header {
  position: sticky;
  top: 0;
  height: 3rem;
  display: flex;
  align-items: center;

}
.header-wrap{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:.5rem;
  margin:0 .5rem;
  width: 100%;
}
main {
  height: 200vh;
  margin: 3rem 0;
}

/* 
* Buttons 
*/
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  height: 2.6rem;
  min-width: 2.6rem;
}
.btn-icn{
  border: none;
  border-radius: var(--br-02r);
  background-color: inherit;
  transition: .3s ease-in-out 0s;
}
.btn-icn:focus,
.btn-icn:focus-visible{
  outline: 1px solid var(--pri);
  color: var(--pri);
  box-shadow: var(--btn-sha2);
}
.btn-icn:hover{
  color:var(--pri);
  box-shadow: var(--btn-sha);
  transition: .3s ease-in-out 0s;
}
/* SVG cover icon */
.icn-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--pri);
  stroke-width: 1.5;
  transition: .3s ease-in-out 0s;
}
.btn-icn:hover .icn-btn,
.btn-icn:focus .icn-btn{
  stroke: var(--pri);
  transition: .3s ease-in-out 0s;
}

/*
* SVG Icons
*/
.svg{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Media queries */
@media screen and (min-width: 800px){
  .h1-intro{
    margin:0 1rem;
    font-size: 6rem;
  }
  .header-wrap{
    margin:0 1rem;
  }
}
@media screen and (min-width: 1200px){
  .h1-intro{
    margin:0 3rem;
    font-size: 10rem;
  }
  .header-wrap{
    margin:0 3rem;
  }
}