/* Global styles for alpha theme v0.0.1-beta - MIT License - https://oxypteros.com/dev/alpha */
:root { 
  --ff: "Inter"; /* Main font family */
  --ff-m: "Fira Code"; /* Monospace font*/
  --ff-f: sans-serif; /* Main fallback font */
  --ff-mf: monospace; /* Monospace fallback font */
  --ff-main: var(--ff), var(--ff-f); /* Main font with fallback*/
  --ff-mono: var(--ff-m), var(--ff-mf); /* Monospace font with fallback */
  --mw-50r: 50rem; /* Max width 50 rem */
  --mw-75r: 75rem; /* Max width 75 rem */
  --mw-70ch: 70ch; /* Max width characters */
  --b-01r: .1rem solid; /* Thin border (width type) */
  --b-0125r: .125rem solid; /* Sec. border (width and type) */
  --br-02r: .2rem; /* Border Radius */
  /* Inter settings */
  font-optical-sizing: auto; 
  font-feature-settings: "dlig" 1,  "ss02" 1, "ss01" 1;
}
/*
* Local Fonts
*/
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/Inter.woff2?v=3.19") format("woff2-variations"),
       url("../fonts/Inter.woff2?v=3.19") format("woff2");
  src: url("../fonts/Inter.woff2?v=3.19") format("woff2") tech("variations");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("../fonts/Inter-Italic.woff2?v=3.19") format("woff2-variations"),
       url("../fonts/Inter-Italic.woff2?v=3.19") format("woff2");
  src: url("../fonts/Inter-Italic.woff2?v=3.19") format("woff2") tech("variations");
}
@font-face {
  font-family: "Fira Code";
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/FiraCode.woff2') format('woff2-variations'),
       url('../fonts/FiraCode.woff') format('woff-variations');
  font-weight: 300 700;
  font-style: normal;
}
/* 
* Alpha light styles (default) 
*/
body {
/* Color Palette */
--pri: #005d6b;
--on-pri:#f0f0f0;
--sec: #4b6268;
--on-sec:#fff;
--bg: #ebebeb;
--on-bg: #191c1d;
--sur: #f8fafb;
--on-sur:#131313;
--error:#ba1a1a;
--on-error:#fff;
--att:#ffb960;
--on-att:#362000;
--out:#6f797b;
--out-sec:#dbe4e7;
/* Shadows */
--btn-sha:0px 3px 1px -2px rgba(0, 0, 0, .2) ,  0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
--btn-sha2:0px 4px 3px -2px rgba(0, 0, 0, .4) ,  0px 2px 2px 0px rgba(0, 0, 0, .24), 0px 1px 5px 0px rgba(0, 0, 0, .22);
/* Icons */
--anchor: url(../img/icons/anchor.svg);
--blank: url(../img/icons/blank.svg);
--icn-404:url(/alpha/icons/droid.png); 
--signature: url(/img/sig/oxypteros-l.svg);
}
/* 
* Alpha dark styles 
*/
.alpha-dark {
  /* Color Palette */
--pri: #52d7f1;
--on-pri:#00363f;
--sec: #334a50;
--on-sec:#cde7ee;
--bg: #191c1d;
--on-bg: #e1e3e4;
--sur: #212425;
--on-sur:#f0f0f0;
--error:#93000a;
--on-error:#ffdad6;
--att:#7b2f09;
--on-att:#ffdbce;
--out:#899295;
--out-sec:#3f484b;
/* Shadows */
--btn-sha:0px 3px 1px -2px rgba(0, 0, 0, .2) ,  0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
--btn-sha2:0px 4px 3px -2px rgba(0, 0, 0, .4) ,  0px 2px 2px 0px rgba(0, 0, 0, .24), 0px 1px 5px 0px rgba(0, 0, 0, .22);
/* Icons */
--anchor: url(../img/icons/anchor-d.svg);
--blank: url(../img/icons/blank-d.svg);--icn-404:url(/alpha/icons/droid.png); 
--signature: url(/img/sig/oxypteros-d.svg);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  margin:0;
  padding: 0;
  font-family: var(--ff-main);
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--bg);  
  color: var(--on-bg);
}
/*
* Default Styles
*/
/* Default styles */
input,
textarea,
button,
select,
a { 
    -webkit-tap-highlight-color: transparent;
}
nav a { text-decoration: none; }
nav > ul{
  margin:0;
  padding: 0;
  list-style-type: none;
}
.article p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens:auto;
  hyphens: auto; 
}
button { cursor: pointer; }
details summary { cursor: pointer; }
details summary > * { display: inline; }
abbr { cursor: help; }
code{ font-family: var(--ff-mono); }
strong{font-weight: 400;}
s{ text-decoration: line-through var(--red) .15em; }
/* Links */
/* Primary Link Button */
a { 
  color: var(--on-sur);
  font-weight: 350;
  text-decoration: underline solid var(--pri) .0625em;
  text-underline-offset:.125em;
  transition: .3s ease-in-out 0s;
}
a:visited {
  color: var(--on-sur);
  text-decoration-color: var(--on-sur);
}
a:hover,
a:active {
  color:var(--on-sur);
  text-decoration: underline solid var(--pri) .125em;
  text-underline-offset:.125em;
  transition: .3s ease-in-out 0s;
}
a:focus {
  outline: .09375em solid var(--pri);
  outline-offset: .125em;
  border-radius: 1px;
}
p > a[href^="#"]::after{
  content: '';
  display: inline-block;
  background: var(--anchor) no-repeat;
  background-size: contain;
  width: .75em;
  height: .75em;
  margin-bottom: .25em;
  margin-left:.125em;
}
p > a[target=_blank]::after
{
  content: '';
  display: inline-block;
  background: var(--blank) no-repeat;
  background-size: contain;
  width: .75em;
  height: .75em;
  margin-bottom:.25em;
  margin-left:.125em;
}
/* Skip Link */
.skip {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  opacity: 0;
}
.skip:focus {
  left: .5rem;
  opacity: 1;
}
/*
* Hide
*/
.hidden,
.hide{
  display: none;
}
.vis-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
  color: var(--on-bg);
}
/* 
* Cover
*/
html{
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}
.index-cover {
  height: calc(100dvh - 3rem - 1rem); /* Minus top-bar height - cover padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:.5rem;
  background: var(--bg);
  color: var(--on-bg);
  scroll-snap-align: start;
  width: calc(100% - 1rem);
  max-width: var(--mw-75r);
}
.index-page{
  height: calc(100dvh - 6rem);
  scroll-snap-align: start;
  scroll-margin-top: 3rem;
  scroll-margin-bottom: 3rem;
  width: calc(100% - 1.8rem);
  max-width: var(--mw-75r);
  margin-top:3rem;
  display: flex;
  justify-content: center;
  scroll-snap-stop: always;
}
.index-cover-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub{
  font-size: 1.2rem;
}
.h1-intro {
  font-size: 4rem;
  font-weight:200;
  margin:0;
  line-height: 1.2;
}
/* Language Drawer */
.drawer {
  display: inline-block;
  position: relative;
}
.icn-small {
  height: 1.2rem;
  width:1.2rem;
  stroke: var(--on-bg);
  stroke-width: 2;
}
.drawer summary {
  list-style: none;
}
.drawer summary::-webkit-details-marker {
  display: none;
}
.drawer .drawer-content {
  position: absolute;
  min-inline-size: max-content;
}
.lang-switch{
  left:0;
}
.drawer details[open] summary::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}
.drawer .drawer-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.6rem;
  min-width: 2.6rem;
  padding-left:  .4rem;
  padding-right: .4rem;
  border: none;
  border-radius: var(--br-02r);
  background-color: inherit;
  transition: .3s ease-in-out 0s;
}
.drawer summary:focus{
  outline: 1px solid var(--pri);
  border-radius: var(--br-02r);
  color: var(--pri);
  box-shadow: var(--btn-sha2);
}
.drawer .drawer-marker:hover{
  box-shadow: var(--btn-sha);
  transition: .3s ease-in-out 0s;
}
.drawer .drawer-marker:hover .icn-btn{
  stroke: var(--pri);
}
.drawer .drawer-content {
  display: flex;
  flex-direction: column;
  gap:.5rem;
  margin-top: .3rem;
  padding:.5rem;
  background-color: var(--sur);
  border: var(--b-01r) var(--out);
  border-radius: var(--br-02r);
}
.lang-link{
  display: flex;
  align-items: center;
  gap:.5rem;
}
/*
* Index Header
*/
.index-top-bar {
  position: sticky;
  top: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgdd);
  width: 100%;
  border-bottom: var(--b-01r) var(--bg);
}
.index-top-bar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:calc(100% - 1.8rem);
  max-width: var(--mw-75r);
}
.index-top-bar-nav{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  gap:1rem;
  width: 100%;
}
.index-top-bar-nav-link:hover{
  color: var(--pri);
  text-decoration: underline solid var(--pri) .14em;
  text-underline-position: under;
  text-underline-offset: .1em;
}
/* Index Pages */
.index-page-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--mw-50r);
  height: 100%;
  font-size:1rem;
}
.index-page-wrap > p{
  margin:0;
}
.index-first-page {
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: 200;
  hyphens: none;
}
.index-last-page {
  justify-content: space-evenly;
}
.center{
  align-self:center;
  font-size: 1.3rem;
  text-align: center;
}
.dots{
  align-self:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size:3rem;
  height: 30vh;
  line-height: .5;
}
.xs{
  font-size: .9rem;
}
main {
  margin: 3rem 0;
}
/*
* Footer
*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: .7rem;
  height: 3rem;
}
.footer-wrap-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
  width: calc(100% - 1rem);
  max-width: var(--mw-75r);
}
.pi{
  align-self: flex-end;
  width: fit-content;
  margin-right: .5rem;
  margin-bottom: .2rem;
  line-height: 1;
}
/* 
* Buttons 
*/
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  min-height: 2.6rem;
  min-width: 2.6rem;
}
.btn-icn{
  border: none;
  border-radius: var(--br-02r);
  background-color: inherit;
  transition: .3s ease-in-out 0s;
}
.btn-icn:focus,
.btn-icn:focus-visible{
  outline: 1px solid var(--pri);
  color: var(--pri);
  box-shadow: var(--btn-sha2);
}
.btn-icn:hover{
  color:var(--pri);
  box-shadow: var(--btn-sha);
  transition: .3s ease-in-out 0s;
}
/* SVG cover icon */
.icn-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--on-bg);
  stroke-width: 1.5;
  transition: .3s ease-in-out 0s;
}
.btn-icn:hover .icn-btn,
.btn-icn:focus .icn-btn{
  stroke: var(--pri);
  transition: .3s ease-in-out 0s;
}

/*
* SVG Icons
*/
.svg{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
* Page styles
*/
.cover {
  height: calc(100dvh - 3rem - 1rem); /* Minus top-bar height - cover padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:.5rem;
  background: var(--bg);
  color: var(--on-bg);

  width: calc(100% - 1rem);
  max-width: var(--mw-75r);
}
.page{
  min-height: calc(100dvh - 10rem);
  height: fit-content;
  /*
  scroll-snap-align: start;
  scroll-margin-top: 3rem;
  scroll-margin-block-end: 100vh;
  */
  width: calc(100% - 1.8rem);
  max-width: var(--mw-75r);
  margin-top:3rem;
  display: flex;
  justify-content: center;
}
.page-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--mw-50r);
  font-size:1rem;
}
.top-bar-title{
  font-size: 1.2rem;
  font-weight: 350;
  opacity: 0;

}
.page-article{
 margin:3rem 0;
}
.h2-page{
  font-size: 1.5rem;
  font-weight: 350;
}
.h3-page{
  font-size: 1.3rem;
  font-weight: 350;
}
/* Page footer */
.footer-wrap-top{
  margin-bottom: .5rem;
}
.footer-nav-list{
  display: flex;
  font-size: .9rem;
}
.footer-nav-item:not(:last-child)::after{
  content: '\2022';
  color: var(--pri);
  padding-left: .25rem;
  padding-right: .25rem;
}
.footer-social{
  display: flex;
  gap: .25rem;
  align-items: center;
  flex-wrap: wrap;
}
.social-link:hover > .icn-social{
  stroke: var(--pri)
}
.copy{
  max-width: var(--mw-75r);
  width: calc(100% - 1rem);
}
/* Media queries */
@media screen and (min-width: 800px){
  .sub{font-size:1.5rem;}
  .h1-intro{ font-size: 6rem; }
  .index-first-page{font-size:2rem;}
  .center{font-size:2rem}
  .xs{ font-size:1rem;}
}
@media screen and (min-width: 1200px){
  .sub{ font-size:1.8rem;}
  .h1-intro{font-size: 10rem;}
  .index-first-page{font-size:3rem;}
  .center{font-size:2.8rem;}
  .xs{font-size: 1rem;}
}
/*
* Classes
*/
.svg-s-pri{stroke:var(--pri)}


/*
* Js classes
*/
.bb-o{
  border-bottom: var(--b-01r) var(--out-sec);
  transition: 1s border-bottom;
}
.o-1{
  opacity:1;
  transition: 1s opacity;
}