/*! alpha.css - HTML Edition - v.0.0.1 | MIT License | oxypteros.com © 2022 !*/
@font-face {
	font-family: 'Inter';
	src: local('Inter'),
	      url('../fonts/Inter-VariableFont_slnt-wght.woff2') format('woff2'),
	      url('../fonts/Inter.woff') format('woff'),
        url('../fonts/Inter-VariableFont_slnt-wght.ttf') format('truetype');
	font-weight: 100 900;
  font-style: oblique -10deg 0deg;
  font-display: swap;
}
@font-face {
	font-family: 'Comfortaa';
	src: local('Comfortaa'),
	      url('../fonts/Comfortaa-VariableFont_wght.woff2') format('woff2'),
	      url('../fonts/Comfortaa.woff') format('woff'),
        url('../fonts/Comfortaa-VariableFont_wght.woff2') format('truetype');
	font-weight: 300 700;
	font-display: swap;

}
@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono'),
	      url('../fonts/RobotoMono-VariableFont_wght.woff2') format('woff2'),
	      url('../fonts/RobotoMono.woff') format('woff'),
        url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 700;
	font-display: swap;
}
:root {
  /* Fonts */
  --fs: 18px; /* Font Size */
  --ff-f: -apple-system, BlinkMacSystemFont, Avenir, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, Helvetica, "Helvetica Neue", sans-serif; /* Fallback fonts */
  --ff-c:'Inter', var(--ff-f); /* Content Fonts */
  --ff-d: 'Comfortaa', var(--ff-f); /* Display Fonts */
  --ff-m: 'Roboto Mono', var(--ff-f); /* Monospace Fonts */
  /*! Colors !*/
  /* Light Scheme */
  --c-lbg: #fcfbff;
  --c-lt: #202022;
  --c-luw: #e7eef4;
  --c-lub: #3f484d;
  /* Dark Scheme */
  --c-dbg: #181b20;
  --c-dt: #e4e5e7;
  --c-duw: #c0c7cd;
  --c-dub: #222f35;
  --gr-m: calc(var(--fs) * 1.618);
  --gr-d: calc(var(--fs) / 1.618);
}
*, ::after, ::before { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--fs);
  line-height: 1.46;

}
body{
  font-family: var(--ff-c);
  min-height: 100vh;
  background-color: var(--c-lbg);
  color: var(--c-lt);
}
h1, h2, h3, h4, h4, h5, h6 {
  font-family:var(--ff-d);
}
.container {
  height:100vh;
  width:100vw;
}
.grid { display:grid; }
.flex { display: flex; }
.frame {
  grid: var(--gr-m) 80% calc(20% - var(--gr-m)) / 100%;
}
header {
  grid-area: 1/1/1/-1;
}
main {
  grid-area: 2/1/2/-1;
}
.main-inner-frame {
  grid: 1fr 1fr / auto minmax(280px, 1024px) auto;
}
.stories {
  grid-area: 1/2/1/2;
}
.dev{
  grid-area:2/2/2/2;
  text-align:right;
}
footer {
  grid-area: 3/1/3/-1;
}
section{
  margin: var(--gr-m);
}
.stories h2, .dev h2 {
  font-size: var(--fs);
  padding:var(--gr-d);
  font-weight:100;
}
.stories h2:after {
  display: block;
  content: '';
  width: 33%;
  height: 3px;
  background-color: var(--c-luw);
  margin: 0 0 0 calc(var(--gr-d) * -1);
  border: 1px solid var(--c-luw);
  border-radius: 5px;
}
.stories h3 {
  font-size:calc(var(--fs) * 1.618);
  font-family: var(--ff-c);
  font-weight:200;
  margin: var(--gr-d) var(--gr-m);
}
.dev h2:after {
  display: block;
  content: '';
  width: 33%;
  height:3px;
  background-color: var(--c-luw);
  margin: 0 0 0 calc(67% + var(--gr-d));
  border: 1px solid var(--c-luw);
  border-radius: 5px;
}
.dev h3 {
  font-size:calc(var(--fs) * 1.618);
  font-family: var(--ff-c);
  font-weight:200;
  margin: var(--gr-d) var(--gr-m);
}
section a {
  display:inline-block;
  color:var(--c-lub);
  text-decoration: none;
  
}
section a:hover {
  transition: var(--tr-s);
  color:var(--c-lt);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--c-lub) ;
}
.b1 {
  border:2px solid red;
}
.b2 {
  border:2px solid darkgreen;
}
.b3{
  border:2px solid blue;
}
