/*! alpha.css - HTML Edition - v.0.0.1 | MIT License | oxypteros.com © 2022 !*/
/* inter-100 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin_greek-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-200 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin_greek-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-300 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin_greek-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin_greek-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin_greek-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin_greek-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin_greek-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin_greek-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Comfortaa';
	src: local('Comfortaa'),
	      url('../fonts/Comfortaa-VariableFont_wght.woff2') format('woff2'),
	      url('../fonts/Comfortaa.woff') format('woff'),
        url('../fonts/Comfortaa-VariableFont_wght.woff2') format('truetype');
	font-weight: 300 700;
	font-display: swap;

}
@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono'),
	      url('../fonts/RobotoMono-VariableFont_wght.woff2') format('woff2'),
	      url('../fonts/RobotoMono.woff') format('woff'),
        url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 700;
	font-display: swap;
}
:root {
  /* Fonts */
  --fs: 18px; /* Font Size */
  --ff-f: -apple-system, BlinkMacSystemFont, Avenir, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, Helvetica, "Helvetica Neue", sans-serif; /* Fallback fonts */
  --ff-c:'Inter', var(--ff-f); /* Content Fonts */
  --ff-d: 'Comfortaa', var(--ff-f); /* Display Fonts */
  --ff-m: 'Roboto Mono', var(--ff-f); /* Monospace Fonts */
  /*! Colors !*/
  /* Light Scheme */
  --c-lbg: #fcfbff;
  --c-lt: #202022;
  --c-luw: #e7eef4;
  --c-lub: #3f484d;
  /* Dark Scheme */
  --c-dbg: #181b20;
  --c-dt: #e4e5e7;
  --c-duw: #c0c7cd;
  --c-dub: #222f35;
  --gr-m: calc(var(--fs) * 1.618);
  --gr-d: calc(var(--fs) / 1.618);

}
*, 
::after, 
::before { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--fs);
  line-height: 1.46;
}
body{
  font-family: var(--ff-c);
  min-height: 100vh;
  background-color: var(--c-lbg);
  color: var(--c-lt);
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family:var(--ff-d);
  font-weight:300;
  margin:var(--gr-m) 0 var(--gr-d) 0;
}
strong {
  font-weight: 500;
}
.grid { display:grid; }
.flex { display: flex; }
.frame { grid: auto / auto minmax(280px, 1024px) auto;}

.container {
  grid: var(--gr-m) calc(100vh - var(--gr-m))/ 50% 50%;
  place-items: center;
  
}
.index-header {
  grid-area: 1/1/1/-1;
  grid: auto / 50% 50%;
  width:100%;
}
.index-header-left-frame {
  grid-area: 1/1/1/1;
  grid: auto / auto minmax(140px, 512px);
  align-items: center;
  background-color: var(--c-dbg);
}
.index-header-right-frame {
  grid-area: 1/2/1/2;
  grid: auto / minmax(140px, 512px) auto;
  align-items: center;
  
}
.logo {
  grid-area: 1/2/1/2;
  padding: var(--gr-d);
}
.translate{
  grid-area: 1/1/1/1;
  justify-content: flex-end;
  padding: var(--gr-d);
}
.logo svg {
  height: var(--gr-m);
  fill: var(--c-duw);
  display: block;
  margin: auto 0;
}
.translate svg {
  height: 1rem;
  fill: var(--c-lub);
  display: block;
  margin: auto 0;
}
.translate a {
  margin-left: var(--gr-d);
  text-decoration: none;
  font-size: calc(1rem - .618);
  color: var(--c-lt);
}
.left {
  grid-area: 2/1/2/1;
  grid: auto / auto minmax(140px, 512px);
  height: 100%;
  width:100%;
  color: var(--c-dt);
  background-color: var(--c-dbg);
}
.right {
  grid-area: 2/2/2/2;
  grid: auto / minmax(140px, 512px) auto;
  height:100%;
  width:100%;
  background-color: var(--c-lbg);
}
.inner-left {
  grid-area: 1/2/1/2;
  grid: 1fr / 1fr;
  place-items: center;
}
.inner-right {
  grid-area: 1/1/1/1;
  grid: 1fr/1fr;
  place-items: center;
}
.left h1,
.right h2{
  font-size: var(--gr-m);
  font-weight: 300;
}
.left a,
.right a {
  text-decoration: none;
}
.left a {
  color: var(--c-duw);
}
.right a {
  color: var(--c-lub);
}
.main-container {
  width: 100vw;
  height: 100vh;
  scroll-snap-points-y:repeat(100px);
  scroll-snap-type: y mandatory;
  scroll-snap-type:mandatory;
  overflow:auto
}
.article-section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align:start;
}
.title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:calc(100vw - (100vw / 1.618));
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: var(--gr-m);
  color: var(--c-duw);
  background-color: var(--c-dbg);
}
.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 1.618);
  font-size: var(--fs);
  padding: var(--gr-d);
}
.main-frame {
  padding: var(--gr-d);
  margin-bottom:calc(var(--gr-m) * 2);
}
.main-article {
  grid-area: 1/2/1/2;
  font-weight:300;
}
.main-article h1 {
  font-size:var(--gr-m);
  font-weight: 300;
}

.main-article h2{
  font-size: calc(var(--gr-m) * (1.618 / 2));
  
}
.main-article h3{
  font-size: calc(var(--gr-m) * (1.618 / 2.5));
}
.main-article h4{
  font-size: 1rem;
}

.main-article h1:before {
  display:block;
  content:'';
  background-color: var(--c-lub);
  height:3px;
  border:2px solid var(--c-lub);
  border-radius:5px;
  margin: 0 var(--gr-m) 0 0;
}
.subtitle {
  margin: var(--gr-m) 0 -1.618rem 0;
  font-size:.8rem;
}
.main-article p {
  margin:var(--gr-d) 0 var(--gr-d) 0;
}

.main-article p:first-of-type::first-letter {
  padding-left:var(--gr-m);
}

h2 + p::first-letter, 
h3 + p::first-letter, 
h4 + p::first-letter {
  padding-left:var(--gr-m);
}
.main-article .author {
  margin:var(--gr-m) 0 calc(var(--gr-m) * 2) 0;
  text-align: right;
}
blockquote.info {
  text-align:justify;
  margin:var(--gr-m) auto;
  border:2px solid var(--c-luw);
  padding:var(--gr-d);
  border-radius: 5px;
  font-size:.8rem;
}
blockquote .copy {
  margin-top:var(--gr-m);
}
footer {
  position: fixed;
  bottom: 0;
  width:100%;
  background-color: var(--c-lt);
  color:var(--c-duw);
}
.footer-frame {
  align-items: center;
  padding: 0 var(--gr-d);
}

.footer-nav {
  grid-area: 1/2/1/2;
  
}
.footer-nav-menu {
  justify-content: center;
  padding:var(--gr-d);
}
.footer-nav-menu ul{
  list-style-type: none;
}
.footer-nav-menu li {
  padding:var(--gr-d) 0;
}
.footer-nav a {
 color:var(--c-lbg);
 text-decoration: none;
 font-size:var(--fs);
 margin-left:var(--gr-d);
}
.footer-nav button {
  background-color: var(--c-lt);
  border:0;
  padding: 3px 0;
}
.footer-nav svg {
  fill:var(--c-luw);
  height: var(--gr-m);
  width: var(--gr-m);
}
.svg-icon a {
  display: inline-block;
  vertical-align: middle;
}
.svg-icon svg {
  display: inline-block;
  vertical-align: middle;
  height: var(--gr-m);
  width: var(--gr-m);
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.hidden,
[hidden] {
  display: none !important;
}
/* DEBUG */
.b1 { border:2px solid red; }
.b2 { border:2px solid green; }
.b3 { border:2px solid blue; }
