/*! alpha.css - HTML Edition - v.0.0.1 | MIT License | oxypteros.com © 2022 !*/
/* inter-200 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('../fonts/inter-v12-latin_greek-200.woff2') format('woff2'), 
       url('../fonts/inter-v12-latin_greek-200.woff') format('woff'), 
       url('../fonts/inter-v12-latin_greek-200.ttf') format('truetype'),
       url('../fonts/inter-v12-latin_greek-200.svg#Inter') format('svg'); 
}
/* inter-300 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v12-latin_greek-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v12-latin_greek-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin_greek-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin_greek-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin_greek-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin_greek-300.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-regular - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin_greek-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v12-latin_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin_greek-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin_greek-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin_greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin_greek-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v12-latin_greek-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin_greek-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin_greek-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin_greek-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin_greek-700.svg#Inter') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Comfortaa';
	src: local('Comfortaa'),
	      url('../fonts/Comfortaa-VariableFont_wght.woff2') format('woff2'),
	      url('../fonts/Comfortaa.woff') format('woff'),
        url('../fonts/Comfortaa-VariableFont_wght.woff2') format('truetype');
	font-weight: 300 700;
	font-display: swap;

}
@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono'),
	      url('../fonts/RobotoMono-VariableFont_wght.woff2') format('woff2'),
	      url('../fonts/RobotoMono.woff') format('woff'),
        url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 700;
	font-display: swap;
}
:root {
  /* Fonts */
  --fs: 18px; /* Font Size */
  --ff-f: -apple-system, BlinkMacSystemFont, Avenir, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, Helvetica, "Helvetica Neue", sans-serif; /* Fallback fonts */
  --ff-c:'Inter', var(--ff-f); /* Content Fonts */
  --ff-d: 'Comfortaa', var(--ff-f); /* Display Fonts */
  --ff-m: 'Roboto Mono', var(--ff-f); /* Monospace Fonts */
  /*! Colors !*/
  /* Light Scheme */
  --c-lbg: #fcfbff;
  --c-lt: #202022;
  --c-luw: #e7eef4;
  --c-lub: #3f484d;
  /* Dark Scheme */
  --c-dbg: #181b20;
  --c-dt: #e4e5e7;
  --c-duw: #c0c7cd;
  --c-dub: #222f35;
  --gr-m: calc(var(--fs) * 1.618);
  --gr-d: calc(var(--fs) / 1.618);
}
*, 
::after, 
::before { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--fs);
  line-height: 1.46;
}
body{
  font-family: var(--ff-c);
  min-height: 100vh;
  background-color: var(--c-lbg);
  color: var(--c-lt);
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family:var(--ff-d);
}

.grid { display:grid; }
.flex { display: flex; }
.frame { grid: auto / auto minmax(280px, 1024px) auto;}


header { 
  position:sticky;
  top:0;
  background-color: var(--c-lt);
 }
.header-frame{
  grid: var(--gr-m) / auto minmax(280px, 1024px) auto;
  padding: var(--gr-d);
}
.logo { grid-area: 1/2/1/2; }

#logo-svg {
  fill:var(--c-luw);
  height: var(--gr-m);
}

footer {
  position: fixed;
  bottom: var(--gr-m);
  width:100%;
  background-color: var(--c-lt);
  height:50px;
}
