*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white: #f9f9f9;
  --black: #373737;
  --green: #336666;
}
body {
font-family: 'Fira Code', monospace;
background-color: var(--white);
color: yellow;
}
#wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #81B622;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#bg-left {
  height: calc(50% - 1px);
  width:100%;
  background-color: #EEEDE7;
  border-bottom: 2px solid #5885AF;
}
#bg-right {
  height: calc(50% - 1px);
  width:100%;
  background-color: #4C5270;
  border-top: 2px solid #5885AF;
}
