*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white: #f9f9f9;
  --black: #373737;
  --green: #336666;
}
body {
font-family: 'Fira Code', monospace;
background-color: var(--white);
color: var(--black);
}
#wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#bg-left {
  height: calc(50% - 2px);
  width:100%;
  background-color: #fff;
  border-bottom: 3px solid blue;
}
#bg-right {
  height: calc(50% - 2px);
  width:100%;
  background-color: #666;
  border-top: 3px solid blue;
}
