:root {
  --bg-color: #fefef4;
  --text-color: #273743;
}
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  font-family: 'Commissioner', sans-serif;
  color: var(--text-color);
}
h1, h2 {
 font-family: 'Arima', cursive;
  font-weight: 500;
}
h2 { font-size: 2rem;}
p {
  font-weight: 300;
  margin: .5rem 0;
  font-size: 1.5rem;
  line-height: 1.5;
}
strong { font-weight: 500;}
.bgl { background-color: var(--bg-color);}
.bgd { background-color: var(--text-color);}
.my2 {margin: 2rem 0;}

.page-wrap {
  display: flex;
  flex-flow: column nowrap;
  flex: none;
  overflow: auto;
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
}
.page {
  flex: none;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
.page-footer {
  background: var(--bg-color);
  background-repeat: no-repeat;
  width: 100%;
  height: 20vh;
}
.pic {
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.grid-text {
  display: grid;
  grid: 100vh / auto minmax(300px, 1024px) auto;
}
.content {
  grid-area: 1/2/1/2;
  height: 100%;
  padding: 0 .5rem;
  background-color: var(--bg-color);
}
.grid-card-left {
  display: grid;
  grid: auto / calc(100% - 2rem) 2rem;
  align-items: center;
}
.card-left-text {
  grid-area: 1/1/1/1;
  text-align: center;
}
.card-left-icon {
  grid-area: 1/2/1/2;
  margin-left: 1rem;
}
.wifi {
  margin: 2rem 0;
  width: 80vw;
  border: 2px solid var(--bg-color);
  border-left: none;
  border-radius: 0 5% 5% 0;
  color: var(--bg-color);
}
.wifi-icon {
  border: 2px solid var(--bg-color);
  border-radius: 50%;
  background-color: var(--bg-color);
}
.icon {
  width: 2rem;
  height: 2rem;
}
svg {
  fill: var(--text-color);
}
.b1 {
 border: 2px solid red;
}