/*| sanitize.css | License CC0 | https://github.com/csstools/sanitize.css |*/
*,::after,::before{box-sizing:border-box;background-repeat:no-repeat}::after,::before{text-decoration:inherit;vertical-align:inherit}:where(:root){cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:2;tab-size:2;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%}:where(body){margin:0}:where(h1){font-size:2em;margin:.67em 0}:where(dl,ol,ul) :where(dl,ol,ul){margin:0}:where(hr){color:inherit;height:0}:where(nav) :where(ol,ul){list-style-type:none;padding:0}:where(navli)::before{content:"\200B";float:left}:where(pre){font-family:monospace,monospace;font-size:1em;overflow:auto}:where(abbr[title]){text-decoration:underline;text-decoration:underline dotted}:where(b,strong){font-weight:bolder}:where(code,kbd,samp){font-family:monospace,monospace;font-size:1em}:where(small){font-size:80%}:where(audio,canvas,iframe,img,svg,video){vertical-align:middle}:where(iframe){border-style:none}:where(svg:not([fill])){fill:currentColor}:where(table){border-collapse:collapse;border-color:inherit;text-indent:0}:where(button,input,select){margin:0}:where(button,[type=button i],[type=reset i],[type=submit i]){-webkit-appearance:button}:where(fieldset){border:1px solid #a0a0a0}:where(progress){vertical-align:baseline}:where(textarea){margin:0;resize:vertical}:where([type=search i]){-webkit-appearance:textfield;outline-offset:-2px}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}:where(dialog){background-color:#fff;border:solid;color:#000;height:-moz-fit-content;height:fit-content;left:0;margin:auto;padding:1em;position:absolute;right:0;width:-moz-fit-content;width:fit-content}:where(dialog:not([open])){display:none}:where(details>summary:first-of-type){display:list-item}:where([aria-busy=true i]){cursor:progress}:where([aria-controls]){cursor:pointer}:where([aria-disabled=true i],[disabled]){cursor:not-allowed}:where([aria-hidden=false i][hidden]){display:initial}:where([aria-hidden=false i][hidden]:not(:focus)){clip:rect(0,0,0,0);position:absolute}html{font-family:system-ui,-apple-system,"Segoe UI",Roboto,Ubuntu,Cantarell,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"}code,kbd,pre,samp{font-family:ui-monospace,Menlo,Consolas,"Roboto Mono","Ubuntu Monospace","Noto Mono","Oxygen Mono","Liberation Mono",monospace,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"}:where(button,input,select,textarea){background-color:transparent;border:1px solid WindowFrame;color:inherit;font:inherit;letter-spacing:inherit;padding:.25em .375em}:where(select){appearance:none;background:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center/1em;border-radius:0;padding-right:1em}:where(select[multiple]){background-image:none}:where([type=color i],[type=range i]){border-width:0;padding:0}
/*! alep-global.css Hugo version v0.1.0 | MIT License | https://github.com/phoenicus-git/alep !*/
/*/ Local Fonts /*/
@font-face{ 
  font-family:"local"; 
  src: url("/fonts/Comfortaa.woff2") format("woff2"), url("/fonts/Comfortaa.woff")format("woff");
  font-display:swap;
}
:root{ 
  --ff:"local", -apple-system, BlinkMacSystemFont, Avenir, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, Helvetica, "Helvetica Neue", sans-serif;
  --fs:16px;
}
body {
  --text: #121212;
  --bkg: #e6e6e6; 
  --content-bkg: #f7f7f7;
  --link: #025358; 
  --link-hover:#013437;
  --btn-bkg:#f2f2f2;
  --shadow:#121212;
  --banner-bkg:#36464e;
  --banner-text:#e6e6e6;
  --banner-btn:#3f515a;
  --logo: url(icons/logo/oxypteros.svg) no-repeat;
  --under: url(alep/icons/dark-under.svg) repeat-x; 
  --sig: url(icons/sig/dark-sig-AnimoPhoenicus.svg) no-repeat; 
  --ext-link: url(alep/icons/dark-external-link.svg);
}
body.dark-theme {
  --text: #e6e6e6; 
  --bkg: #36464e;
  --content-bkg:#3f515a;
  --link:#aae8ee;
  --link-hover:#d4f4f7;
  --btn-bkg:#4b616c;
  --shadow:#0d1012;
  --banner-bkg:#e6e6e6;
  --banner-text:#121212;
  --banner-btn:#f2f2f2;
  --logo: url(icons/logo/oxypteros.svg) no-repeat;
  --under: url(alep/icons/light-under.svg) repeat-x;
  --sig: url(icons/sig/light-sig-AnimoPhoenicus.svg) no-repeat; 
  --ext-link: url(alep/icons/light-external-link.svg);
}
@media (prefers-color-scheme: dark) {
  body{
    --text: #e6e6e6; 
    --bkg: #36464e;
    --content-bkg:#3f515a;
    --link:#aae8ee;
    --link-hover:#d4f4f7;
    --btn-bkg:#4b616c;
    --shadow:#0d1012;
    --banner-bkg:#e6e6e6;
    --banner-text:#121212;
    --banner-btn:#f2f2f2;
    --logo: url(icons/logo/oxypteros.svg) no-repeat; 
    --under: url(alep/icons/light-under.svg) repeat-x;
    --sig: url(icons/sig/light-sig-AnimoPhoenicus.svg) no-repeat; 
    --ext-link: url(alep/icons/light-external-link.svg);
  }
  body.light-theme {
    --text: #121212;
    --bkg: #e6e6e6; 
    --content-bkg: #f7f7f7;
    --link: #025358; 
    --link-hover:#013437;
    --btn-bkg:#f2f2f2;
    --shadow:#121212;
    --banner-bkg:#36464e;
    --banner-text:#e6e6e6;
    --banner-btn:#3f515a;
    --logo: url(icons/logo/oxypteros.svg) no-repeat;
    --under: url(alep/icons/dark-under.svg) repeat-x; 
    --sig: url(icons/sig/dark-sig-AnimoPhoenicus.svg) no-repeat; 
    --ext-link: url(alep/icons/dark-external-link.svg);   
  }
}
*, ::before, ::after{box-sizing:inherit;margin:0;padding:0;}
html{height:100%;}
html:focus-within { scroll-behavior: smooth; }
body{
  height: 100%;
  min-height:-webkit-fill-available;
  text-rendering: optimizeSpeed;
  background-color: var(--bkg);
  color:var(--text);
  font-family:var(--ff);
  font-size:var(--fs);
  line-height: 1.5;
}
/*/ SVG /*/
#svg-none {
display:none;
}
[id^="svg-"]{
fill:var(--text);
}
/*/ END SVG/*/
/*/ Text Content /*/
h1{font-size: 1.2rem;}
h2{font-size: 1.1rem;}
h3{font-size: 1.05rem;}
h4{font-size: 1rem;}
h5{font-size: .9rem;}
h6{font-size:.8rem;}
h2,h3,h4,h5,h6{font-weight: bold;padding:.5em;}
p{text-align:left; margin:.5em 0;}
ul[role='list'], ol[role='list'] { 
  list-style: none; 
}
dfn{
  text-decoration: underline;
  text-decoration-style: dotted;
}
/* Links */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/*/ Grids /*/
.main-grid{
  display: grid;
  grid-template:repeat(4,auto)/ auto minmax(auto, 60rem) auto;
  align-content: space-between;
  min-height:100vh;
  min-height:-webkit-fill-available;
}
header, main, footer{display:grid;padding:.5em;}
header{
  grid-area: 1/2/1/2;
  grid-template:1fr/ 1fr 1fr;
}
main{
  grid-area: 2/2/2/2;
  grid-template:repeat(3, auto)/1fr;
}

/*/ Header /*/
.logo{
  grid-area: 1/1/4/2;
  background: var(--logo);
  background-size: 7em ;
  height:3em;
  width:7em;
}
.title{ 
  font-size:2rem;
  font-weight: bold;
}
.controls{
  grid-area: 1/3/1/3;
}
.controls li{
  list-style-type:none;
  padding:0 .5em;
}
.btn-toggle{
  background-color: var(--bkg);
  border:0px;
  margin:.7em;
}
/*/ END Header /*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.the-net{
  cursor: pointer;
}
/*! alep-single.css Hugo version v0.1.0 | MIT License | https://github.com/phoenicus-git/alep !*/
/*/ Alter Global /*/
header{
  position:sticky;
  top:0;
}
/*/ END Alter Global /*/
/*/ LINKS /*/
a:link{color:var(--link);}
a:visited{color:var(--link);}
a:hover{
  color:var(--link-hover);
  text-decoration:none;
}
a:active{color:var(--link);}
a:focus{
  outline: 1px solid var(--text);
  border:1px solid var(--bkg);
  border-radius: 2px;
}
main a[target="blank"]:after{
  display:inline-block;
  content: '';
  background:var(--ext-link) no-repeat;
  width:.5em;
  height:.5em;
  margin:0 .1em .3em .1em;
}
/*/ END Links /*/
/*/ Multimedia /*/
article img, article video {
  max-width: 100%;
  height: auto;
  border-radius:5px;
  aspect-ratio: attr(width) / attr(height);
}
  img:not(.figure):not(.kofiimg) {
  box-shadow: 0 .1em .35em var(--shadow);
  border:1px solid var(--bkg);
  background-color: var(--bkg);
  margin: 1em auto;
}
figure{
  margin: 1em .5em;
  border: .6em solid var(--bkg);
  border-radius:5px;
  box-shadow: 0 .1em .35em var(--shadow);
  background-color: var(--bkg);
}
figure img{
  border-radius:0;
}
figcaption {
  background-color: var(--bkg);
  font-size: .95rem;
  text-align: center;
  font-style:italic;
  padding:.4em;
}
.figure-credit{
  font-size:.8rem;
  font-style: normal;
}
/*/ END Multimedia /*/
/*/ Content /*/
.hr{ 
  border: 1.5px solid var(--link);
  width:50%;
  border-radius: 3px;
  margin: 1em 25%;
  opacity:.5;
}
.hr-thin{
  border: 1px solid var(--link);
  border-radius: 3px;
  margin: 1em 3em;
  opacity:.5;
}
hr{
  border: 1px solid var(--link);
  border-radius:3px;
  opacity:.5;
}
blockquote {
  margin: 1em;
  padding-left: .5rem;
  border-left: .35em double var(--link);
  font-style: italic;
}
.blockquote-shortcode{
  border: .6em solid var(--bkg);
  border-radius:5px;
  box-shadow: 0 .1em .35em var(--shadow);
  background-color: var(--bkg);
}
.blockquote-shortcode::before{
  content: "\201C";
  color:var(--link);
  font-style:normal;
  font-size: 3rem;
  margin-top:-.25em;
  padding-right: .25em;
  float:left;
  height:100%;
}
cite {
  font-size:.9rem;
  font-style: normal;
}
.cite-shortcode{
  float:right;
}
details { 
  margin: .5em;
  border: .5em solid var(--bkg);
  border-radius:5px;
  box-shadow: 0 .1em .35em var(--shadow);
  background-color: var(--bkg);
} 
summary { 
  cursor: pointer; 
  font-weight: bold; 
  padding: .5rem 1rem;
} 
details[open] { 
  padding: .6rem 1rem .75rem 1rem;
} 
details[open] summary { 
  margin-bottom: .5rem; 
  padding: 0;
} 
details[open]>*:last-child { 
  margin-bottom: 0;
}
.youtube{
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden;
  margin: 1em 0;
  border: .5em solid var(--bkg);
  border-radius:5px;
  box-shadow: 0 .1em .35em var(--shadow);
  background-color: var(--bkg);
  }
.youtube_frame{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  border:0;
}
mark{
  padding:0 .1em;
  border-radius:5px;
}
main ul, main ol{
  margin: 1em 1.5em;
}
code {
  white-space: pre-wrap;
}
.highlight{
  border:0;
  border-radius: 5px;
  background-color: #36464e;
  padding:.2em;
}
/*/ END Content /*/
/*/ Single Grids /*/
.content-grid{
  grid-area:2/2/2/2;
  background-color:var(--content-bkg);
  border:1px solid var(--btn-bkg);
  border-radius:.3em;
  margin:0 .5em;
  padding:.5em;
  box-shadow: 0 .1em .35em var(--shadow);
  z-index: 1;
}
footer{
  grid-area:3/2/3/2;
  display:grid;
  grid-template:auto/repeat(3,auto);
  padding:.5em;
}
/*/ END Single Grids /*/
/*/ Content /*/
article {
  display:grid;
  grid-template:auto/1fr;
  width:100%
}
.article-head {
  display:flex;
  justify-content: space-between;
  font-size:.9rem;
}
.article-head ul{
  margin:0;
}
.article-head li{
  list-style-type:none;
  padding:0 0 .35em 0;
}
.alep-h1{
  background: var(--under);
  background-position:bottom .29em right 0;
  width:95%;
  place-self: end;
  margin-top: 5rem;
  text-align: right;
}
.subtitle{
  margin-top: -.3em;
  text-align: right;
  font-size:.9rem;
}
.authors{
  margin-top: 2em;
  text-align: right;
}
.authors a{
  text-decoration: none;
}
.date{
  font-size: .8rem;
  margin-bottom:3em;
  text-align: right;
}
.dropcap > p:first-of-type:first-letter{
  font-size:3rem;
  font-weight: bold;
  float:left;
  line-height: .9;
  padding:.05em .1em 0 .1em;
}
.h-link a:link{
  text-decoration:none;
  color:inherit;
}
.h-link a:hover::after{
  content:"\00A7";
  padding-left:.2em;
  color:var(--link);
}
.signature{
  background:var(--sig);
  width:6rem;
  height:2.5rem;
  place-self:end;
  z-index:-1;
}
.parts{
  place-self: center;
  display:flex;
  justify-content: space-between;
  width:100%;
  margin:1em 0;
  font-size: .9rem;
}
.previous-part a::before{
  content: "\21FD  ";
}
.next-part a::after{
  content: "  \21FE";
}
.article-info{
  background-color:var(--bkg);
  border:1px solid var(--link);
  border-radius:2px;
  margin:2em 0;
  padding: .5em;
  place-self:center;
  font-size:.9rem;
}
.article-info p{
  
}
.article-info li{
  display: inline-block;
  list-style-type: none;
  padding: .5em;
}
.article-info li::before{
  content: '#';
  font-size: 1.3rem;
  color:var(--link-hover);
  padding-right: .1em;
}
/*/ END Content /*/

/*/ ko-fi/*/
img.kofiimg{
  height:13px;
  width:20px;
  padding:0;
  margin:0 5px 5px 0;
  border:none;
  border-radius:0;
  }
.btn-container{
  display:flex ;
  justify-content: center;
  white-space:nowrap;
  margin:1em auto;
}
span.kofitext{
  color:var(--text);
  text-wrap:none;
  padding:0;
  text-align:center;
  text-decoration:none; 
  font-size: .8rem;
}
.kofitext a:hover{
  color:var(--link-hover);
  text-decoration:none
    }
a.kofi-button{
  display:inline-block;
  padding:2px 12px;
  text-align:center;
  overflow-wrap:break-word;
  text-decoration:none;
  border: 1px solid var(--text);
  border-radius: 3px;
  background-color: var(--btn-bkg);
  padding:.5em;
  color:var(--text);
    }
.kofitext img.kofiimg {
  height:15px;
  width:22px;
  animation: kofi-wiggle 3s infinite;
}
@keyframes kofi-wiggle{
    0%{transform:rotate(0) scale(1)}
    60%{transform:rotate(0) scale(1)}
    75%{transform:rotate(0) scale(1.12)}
    80%{transform:rotate(0) scale(1.1)}
    84%{transform:rotate(-10deg) scale(1.1)}
    88%{transform:rotate(10deg) scale(1.1)}
    92%{transform:rotate(-10deg) scale(1.1)}
    96%{transform:rotate(10deg) scale(1.1)}
    100%{transform:rotate(0) scale(1)}
}
/*/ END ko-fi /*/

/*/ Related /*/
.related{
  display: grid;
  grid-template:auto/ 1fr;
  place-content:center;
  margin:1em 0;
}
.rel-articles{
  display: grid;
  grid-gap: 1em;
}
.rel-content {
  align-items: center;
  border:1px solid var(--link);
  border-radius: 2px;
  background-color: var(--bkg);
}
.rel-header{
  font-size:.9rem;
  margin:.5em 2em;
}
.rel-footer{
  font-size: .9rem;
  place-self: end;
  margin:.5em 2em;
}
.rel-main{
  background-color: var(--content-bkg);
  border:1px solid var(--content-bkg);
  border-radius:5px;
  margin: 0 1.5em 1.5em 1.5em;
  padding: .5em;
  box-shadow: 0 .1em .35em var(--shadow);
}
.rel-main h2{
  text-align: center
}
/*/ END Related /*/
/*/ Footer /*/
.footer-nav_left{
  grid-area: 1/1/2/1;
}
.footer-nav_right{
  grid-area:1/3/1/3;
  place-self: end;
  text-align:right;
}
.footer_social{
  grid-area:2/1/2/4;
  place-self: center;
}
.footer_social li{
  list-style-type: none;
  display:inline;
  padding:.5em;
}
[id^="svg-social"] {
  fill:var(--link);
}
nav li{
  padding:.35em 0;
}
nav li > a{
  text-decoration:none;
  font-weight: bold;
}
.footer_gotop{
  grid-area: 3/1/3/4;
  place-self: end;
  padding-bottom:1em;
}
.footer_copy{
  grid-area: 4/1/4/4;
  border-top:1px solid var(--link-hover);
  padding-top:1em;
}
.footer_powered{
  grid-area: 5/1/5/4;
}
.footer_powered a{
  text-decoration: none;
}
.footer_motto{
  grid-area: 6/1/6/4;
  place-self: end center;
  font-style: italic;
  margin:1em 0 0 0;
  font-size:.8rem
}
.the-net{
  grid-area:6/1/6/4;
  place-self:end;
  font-size:.8rem;
  margin:1em 0 0 0;
}
.footer_gotop, .footer_copy, .footer_powered{
  font-size:.9rem;
}
/*| chroma | MIT License | https://github.com/alecthomas/chroma |*/
.chroma{color:#fff;background-color:#36464e}.chroma .x{color:#cb4b16}.chroma .lntd{vertical-align:top;padding:0;margin:0;border:0}.chroma .lntable{border-spacing:0;padding:0;margin:0;border:0;width:auto;overflow:auto;display:block}.chroma .hl{display:block;width:100%;background-color:#ffc}.chroma .lnt{margin-right:.4em;padding:0 .4em 0 .4em;color:#495050}.chroma .ln{margin-right:.4em;padding:0 .4em 0 .4em;color:#fff}.chroma .k{color:#5dd5cb}.chroma .kc{color:#cb4b16}.chroma .kd{color:#a0d6fe}.chroma .kn{color:#5dd5cb}.chroma .kp{color:#5dd5cb}.chroma .kr{color:#a0d6fe}.chroma .kt{color:#dc322f}.chroma .nb{color:#b58900}.chroma .bp{color:#a0d6fe}.chroma .nc{color:#a0d6fe}.chroma .no{color:#cb4b16}.chroma .nd{color:#a0d6fe}.chroma .ni{color:#cb4b16}.chroma .ne{color:#cb4b16}.chroma .nf{color:#a0d6fe}.chroma .nt{color:#a0d6fe}.chroma .nv{color:#a0d6fe}.chroma .s{color:#eaaee5}.chroma .sa{color:#eaaee5}.chroma .sb{color:#586e75}.chroma .sc{color:#eaaee5}.chroma .dl{color:#eaaee5}.chroma .s2{color:#eaaee5}.chroma .se{color:#cb4b16}.chroma .si{color:#eaaee5}.chroma .sx{color:#eaaee5}.chroma .sr{color:#dc322f}.chroma .s1{color:#eaaee5}.chroma .ss{color:#eaaee5}.chroma .m{color:#eaaee5}.chroma .mb{color:#eaaee5}.chroma .mf{color:#eaaee5}.chroma .mh{color:#eaaee5}.chroma .mi{color:#eaaee5}.chroma .il{color:#eaaee5}.chroma .mo{color:#eaaee5}.chroma .o{color:#5dd5cb}.chroma .ow{color:#5dd5cb}.chroma .c{color:#586e75}.chroma .ch{color:#586e75}.chroma .cm{color:#586e75}.chroma .c1{color:#586e75}.chroma .cs{color:#5dd5cb}.chroma .cp{color:#5dd5cb}.chroma .cpf{color:#5dd5cb}.chroma .gd{color:#dc322f}.chroma .ge{font-style:italic}.chroma .gr{color:#dc322f;font-weight:700}.chroma .gh{color:#cb4b16}.chroma .gi{color:#5dd5cb}.chroma .gs{font-weight:700}.chroma .gu{color:#a0d6fe}/*! Add your custom css rules here !*/